[2018-03-12 12:53] idkjs opened #1 "Cant Resolve Reboot"
Running the example files is getting me this result.

[code]
This the bsconfig.json: https://github.com/idkjs/bs-mui-example/blob/master/bsconfig.json
This is package.json: https://github.com/idkjs/bs-mui-example/blob/master/package.json

[2018-03-12 13:14] idkjs commented on #1
I've added material-ui to package.json.

now getting this error:

[code]

[2018-03-12 13:16] jsiebern commented on #1
Hey, yes, there was a recent Update in Mui that changed a few packages around. They announced some more breaking changes in the coming weeks until the final v1 release. I've updated the package, please upgrade and it should be fine!

[2018-03-12 18:43] idkjs commented on #1
That worked. Will keep an eye for changes. So seems like should be possible generate the css from a theme.json file (compositor.io) and this tool, no?

[2018-03-13 16:44] jsiebern commented on #1
Sorry, I can't answer that as I've never worked with that service!

[2018-03-13 16:44] #1 closed

[2018-03-20 20:27] mattmarcello opened #2 "<MenuItem/> does not accept ~value property"
Consider the following slightly modified example from the `material-ui` documentation.
[code]

This throws the following error:

[code]

`MenuItem.d.ts` defines the following interface:

[code]

`ListItem.d.ts` defines the following interface

[code]

`ButtonBase.d.ts` defines the following interface

[code]

While, `React.LiHTMLAttributes<HTMLElement>` is [defined](https://github.com/DefinitelyTy

[2018-03-21 10:02] jsiebern commented on #2
Hi, thanks for this in-depth issue. It's definitely not intended, I checked the source as well and they did not mention the `value` prop in the prop types definition.

When I wrote the generator I couldn't quite make Typescript work for me so I used their doc generation technique (the docs are missing that `value` prop as well). I believe the easiest thing would be a pull request over at the mater

[2018-03-21 16:18] mattmarcello commented on #2
That sounds good.  I can do that.

I do wonder about a more general solution.  There will surely be other properties inherited from <HTMLAttribute> types, `tabIndex`, for instance.

[2018-03-21 16:21] jsiebern commented on #2
Yes, most likely! I was debating wether to add `id` in general as well. I might look into Typescript deriving again, if time allows, as I've just rewritten the generator in a more general purpose way for another project.

[2018-03-26 11:32] jsiebern commented on #2
@mattmarcello I was in need of this myself after all so I implemented a few custom props in `0.1.4-alpha1` for now

[2018-03-27 02:12] mattmarcello commented on #2
Awesome.  Will take a look.  Did you add them by hand?  Been meaning to check out `react-docgen-typescript` when i have a little extra time but have been swamped.

[2018-03-27 07:10] jsiebern commented on #2
Yes, I added a manual list in the generator for now, that was the quickest
way I think! That’s awesome, let me know what you find whenever you find
the time :)

[2018-04-02 11:16] jsiebern commented on #2
Closing this for now as the features have been manually added in `v0.1.5`

[2018-04-02 11:16] #2 closed

[2018-04-05 21:16] gittheking opened #3 "`TablePagination` component doesn't have the correct bindings for `onChangePage`"
Currently, `TablePagination` has a binding signature of `unit => unit` so there is no way to access the value of page as described in the [material-ui-next docs](https://material-ui-next.com/api/table-pagination/). I'd expect to be able to define the event like:
[code]
instead I get a bucklescript error
[code]
I've been able to make it work in the meantime by creating my own minimal binding:
[code

[2018-04-06 18:09] gittheking commented on #3
@jsiebern thanks for getting back to me, this is a really awesome project! I'm still very new to the Reason world and this is a huge help for me.

[2018-04-06 18:26] jsiebern commented on #3
Thank you! And let me tell you - I've been exactly where you're at. I couldn't really start to adopt Reason because my required UI Library didn't have any proper bindings and writing them by hand seemed crazy...

[2018-04-11 19:16] jsiebern commented on #3
Should be fixed in `0.1.61`, thank you :)

[2018-04-11 19:16] #3 closed

[2018-04-26 15:31] Sarazh commented on #3
Checkbox has similar problem for `onChange` function. The type is `onChange: option(ReasonReact.Callback.t(ReactEventRe.Form.t))=?`, which should be `onChange: option((ReactEventRe.Mouse.t, bool) => unit)=?`

[2018-04-26 15:53] jsiebern commented on #3
@Sarazh Thanks for the report, fixed it 👍

[2018-04-27 08:15] Sarazh commented on #3
The new version breaks functions in some components, e.g. in Select component,
the following type are not function any more.

[code]

which are correct in previous veriosn:

[code]

[2018-04-27 08:16] jsiebern commented on #3
Yes, sorry, I couldn't fix it last night, I'll push a fix in a little bit

[2018-04-27 09:02] jsiebern commented on #3
It should work fine now!

[2018-04-27 13:00] Sarazh commented on #3
Thank you very much. It works.

[2018-05-03 22:49] gittheking opened #5 "new type signatures"
Hey @jsiebern,

Great work as always, I'm really enjoying the new improvements in the library. I've recently upgraded from from `0.1.6` to `0.2.0` and was able to migrate everything rather seamlessly aside from a few things that are puzzling me. I'm currently building out some cascading menus so I'm making use of the properties `transformOrigin` and `anchorOrigin`, previously I was able to set val

[2018-05-05 14:07] jsiebern commented on #5
Hi, thank you very much for your kind words! I have changed all objects to have a create function (at least if they contain optional values!). In the future I guess I'll better switch to abstract object types (BS 3.0.0) to make that more clear.

In the meantime, you can use the provided `makeTransformOrigin` like so:

[code]

I didn't test it just now but something like this should work!

Do you t

[2018-05-05 14:08] jsiebern commented on #5
(Looking at the generated code myself just now, I realized that the make function isn't properly typed for some reason, I'll look into that!)

[2018-05-07 14:49] gittheking commented on #5
@jsiebern thanks for getting back to me and looking into this! I'll have to read into AOTs and test out the dev experience there before I can fully comment on that (just started using 3.0.0 and haven't had the opportunity to leverage them yet). However, one thing I would like to note is that for something like `transformOrigin`/`anchorOrigin`, I'd expect the values for `horizontal` and `vertical`

[2018-05-09 07:27] jsiebern commented on #5
You're absolutely right, I'm quite busy at work right now but I'll try look into this as soon as possible!

[2018-05-11 19:25] mattmarcello opened #6 "theming"
I see that there a variety of to-do items related to theming.  Have you decided on an execution plan?  If so, perhaps it would be good to document it here?

In the meantime, going to read the code to see what's possible.

Thanks!

[2018-05-12 12:37] jsiebern commented on #6
Hi, thanks for the input. I don't use theming at all at work (which I made the bindings for) so I'm not too familiar with the options and what the focus needs to be on.

Do you have any suggestions on how to tackle the various theming layers?

[2018-05-18 13:46] cknitt commented on #5
I have also run into troubles with these types, but with `Popover`, not with `Menu`.

When I try something like

[code]

I get an exception when opening the popover:

[code]

[2018-05-18 23:28] jsiebern commented on #5
Thank you for the report! I hope to find some time this weekend for upgrading to the latest version and fixing those types!

[2018-05-19 05:45] cknitt commented on #5
Thanks a lot! Yes, upgrading would be great, too, now that material-ui 1.0 is out. 😃

[2018-05-21 16:14] cknitt commented on #5
Thanks for the update! 👍

[2018-05-24 13:56] Sarazh opened #7 "ppx_WithStyle doesn't work for linux"
Current ppx works with Mac, but it has problem to run on linux. Do you have a version for linux??

[2018-05-29 14:24] cknitt opened #8 "Prop names: change leading underscore to trailing underscore"
In 0.4.2, reason-react moved from leading underscores (`_open`, `_type`, ...) to trailing underscores  (`open_`, `type_`, ...), see https://github.com/reasonml/reason-react/blob/master/HISTORY.md.

I think the material-ui bindings should follow suit. Trailing underscores just make more sense, as a leading underscore usually means "unused" in Reason/OCaml.

[2018-05-31 11:51] jsiebern commented on #8
Agreed, I had it like that before until it was mentioned that the current best practice was to make them leading. Oh well 😄

[2018-05-31 11:52] jsiebern commented on #7
@Sarazh Phew, thats a tough one, I don't have any experience with compiling to different targets, the ppx was more of an experiment! What does it say on Linux, I have no easy way of testing this right now.

[2018-06-03 17:14] unodgs commented on #7
This is the real problem for my jenkins run on linux... Switching to unsafe styles is not the path I would like to take :)

[2018-06-12 12:17] jsiebern commented on #6
@mattmarcello I've had the need to use some different colors now as well. The easist thing to do right now would be:

[code]

It's just that you'll have to write the `createMuiTheme` binding yourself. I'll close this for now as that is a workable way (I'll probably factor this in somehow soon).

[2018-06-12 12:17] #6 closed

[2018-06-12 16:17] mattmarcello commented on #6
Thanks for following up.

[2018-06-16 18:03] geohuz opened #10 "error running example"
[code]

the bsconfig.json:
[code]

[2018-06-19 11:50] jsiebern commented on #5
Closing as it should be fixed in `v0.3.1`.

[2018-06-19 11:50] #5 closed

[2018-06-19 11:51] jsiebern commented on #8
Closing as it should be fixed in `v0.3.1`.

[2018-06-19 11:51] #8 closed

[2018-06-23 13:29] unodgs opened #11 "Button component example"
Hi! Could you provide an example how to use Button's component property?. I have Link component:
[code]
and
[code]
doesn't work. It prints `Link000` everywhere.
This is better:
[code]
but still is not what I expect.
Thx in advance for any help

[2018-07-02 16:23] feihong opened #12 "Add my project under the Example section of README?"
Hi, I created a small app using your bindings and it worked great! You can find it at https://github.com/feihong/cool-char-generator. Although it's a full-fledged program, it's pretty small so I think it works as example code. If you like, you could add a link to it under the Example section of README.md.

The code shows usage of Button, Grid, FormControl, Select, MenuItem, and Popover components.

[2018-07-03 07:40] jsiebern commented on #12
@feihong Not sure I want the whole project as an example but if you want to send a PR for the examples folder that deals with the achorEl thing (and you are welcome to link your the project in that file as a comment), I'd gladly accept that PR :)

[2018-07-05 08:35] jsiebern commented on #12
Awesome @feihong , thank you!

[2018-07-05 08:35] #12 closed

[2018-07-08 07:05] liamcurry commented on #7
I was able to get this working on Arch Linux by recompiling the ppx generator on my machine. I created PR #14 that adds the compiled binary to this repo. @Sarazh @unodgs could you checkout that branch and see if the new binary works on your machine?

[2018-07-08 08:44] jsiebern commented on #7
That’s awesome, thanks for the PR! After studying the bs_css_ppx a bit I actually thought of extracting the withStyles ppx into its own repo that should be installed and compiled with esy. I’m experimenting with another project I’m working on right now, if that wies at all I’ll give it a go for this one!

Confirmation by any Linux users of the current PR would be great though :)

[2018-07-13 04:43] studious commented on #7
I'm having trouble inside docker with ppx_WithStyles.

It runs but complains about a missing ")" in quite a few files. It works fine if I install everything from my mac and run it from there, but if I yarn install it from inside docker (node-alpine) and run it I get the following error against many files. Even more odd is that it is not against all files.

[code]

[2018-07-13 12:34] jsiebern commented on #7
@studious could you give @liamcurry s PR #14 a try please?

[2018-07-13 14:52] liamcurry commented on #7
FYI with that PR you will need to change `ppx_withStyles` to `ppx_withStyles_linux` in your `bsconfig.json` file.

[2018-07-14 15:48] jsiebern commented on #7
Can you guys please try the tag `@jsiebern/bs-material-ui@next` and lmk if the postinstall script works okay? I just tested and it seems to be fine. Also note that the update requires `bs-platform@^4.0.0`!

[2018-07-14 18:17] liamcurry commented on #7
@jsiebern Yep the postinstall script is working!

[2018-07-16 01:43] studious commented on #7
https://github.com/jsiebern/bs-material-ui/blob/master/copyPlatformBinaryInPlace.js#L38

```if (!fs.existsSync('ppx')) {```

Should be

```if (!fs.existsSync('ppx_withStyles')) {```

[2018-07-16 06:43] jsiebern commented on #7
@studious Thanks for pointing that one out, I was in a rush this weekend! I'll get that fixed and publish the new version!

[2018-07-16 06:50] jsiebern commented on #7
Closing this issue for now as it was reported working. Please test the beta (`@latest`) and feel free to re-open this issue. Otherwise I'll publish the new version regularly soon.

[2018-07-16 06:50] #7 closed

[2018-07-27 18:06] bodymindarts opened #16 "Wrong version of @material-ui/core set in package.json"
When installing v0.3.3 via yarn with material-ui/core pinned to v1.4.1 I get the following warning:
[code]

[2018-07-28 09:18] unodgs opened #17 "<MatrialUi.WithTheme> crash if classes property only is provided"
This code worked in previous versions:
[code]
but recently it stopped with following error:
![image](https://user-images.githubusercontent.com/7407/43355125-6d965988-9257-11e8-9b30-8a77c0a93c99.png)

If I add `classesWithTheme={theme => []}` then my code runs correctly again. But it shouldn't be necessary IMO.

[2018-07-28 13:06] jsiebern commented on #17
You're absolutely right, that should work fine! I'll take a look!

[2018-07-28 13:07] jsiebern commented on #16
Right, I forgot, thanks for the hint

[2018-07-28 14:14] jsiebern commented on #17
Actually, that might be due to a regression in `bsb` that has been fixed since but not published to my knowledge! I'll have to test that.

[2018-07-28 14:22] lohmander opened #18 "The value enterGet can't be found"
Can't run the bucklescript compiler after installing this library.

Running version

[code]
[code]

[2018-07-30 07:35] jsiebern commented on #18
Closing as it's not a code issue

[2018-07-30 07:35] #18 closed

[2018-08-01 14:00] Sarazh opened #19 "Binding way makes CDN hard."
We tried to use material-ui from CDN, but current binding way makes it impossible to do it. The `default` could not be found.
We are using
[code]
instead of
[code]
Not sure it is an issue or not. Please close it if it is not.

[2018-08-27 19:50] gittheking opened #20 "Missing Bindings for popper component"
current bs-material-ui is missing bindings for @material-ui/core/Popper

[2018-08-28 10:33] jsiebern commented on #20
Hmm, not sure why the generator is missing this particular one, I’ll take a look! Thanks for the notice

[2018-09-05 21:19] PTaylour commented on #17
Is this comment in the readme referring to the `classesWithTheme` prop?

If so, is this the only way to style with access to the theme, or is there also plans for it to be accessible via a ppx?

If there is anything I can do to help, give me a shout :)

[2018-09-07 18:14] SpearThruster opened #21 "Are there plans to migrate to 3.x.x?"
I think there are not many changes, and current bidnings work with 3.0.2.

[2018-09-08 07:16] jsiebern commented on #21
Yep, I usually trail behind the main version a few weeks for a lack of time, I'll get around to it tomorrow probably :)

[2018-09-08 07:18] jsiebern commented on #19
Yeah, you're right, I'll try to fix that and will put it in an `@next` release to see if it works for everyone! (I think I was having trouble with compilation to commonjs when doing this before, but maybe that has resolved since!)

[2018-09-11 13:49] Sarazh commented on #19
Ah, thank you. I think the problem has resolved. I ran with `es6`and `commonjs`, both work.

[2018-09-13 10:15] PTaylour commented on #17
I'll take a look :). Still new to all of this (and my bucklescript level of success has so far been mixed) — but no harm giving it a go!

[2018-09-21 14:54] PTaylour commented on #17
@jsiebern So a good thing for me to start with would be to type the rest of the theme object here https://github.com/jsiebern/reason-mui-binding-generator/blob/master/src/fixed-modules/MaterialUi_Theme.re using `[@bs.deriving abstract]`?

[2018-09-26 11:28] jsiebern commented on #17
@PTaylour Yes, I believe that would be a good place to start! I believe that bs still has no adequate way of converting / accessing multiple object levels, so that makes it a bit challenging.

Could you open a new issue for this please? I fixed the bug discussed in this issue just now and will close it once published

[2018-09-26 11:53] jsiebern commented on #19
Could you kindly check `@next` and let me know if this issue can be closed?

[2018-09-26 11:53] jsiebern commented on #20
Could you kindly check `@next` and let me know if this issue can be closed?

[2018-09-26 11:53] jsiebern commented on #17
Could you kindly check `@next` and let me know if this issue can be closed?

[2018-09-26 14:10] gittheking commented on #20
@jsiebern looks good to me - great work as always!

[2018-09-26 14:10] #20 closed

[2018-09-27 19:25] PTaylour opened #22 "Complete bindings for theme"
Continuing from conversation in https://github.com/jsiebern/bs-material-ui/issues/17 there is a little work still to be done to fully support the mui theme.

Todo:

- [ ] type theme object
- [ ] access theme in withStyles ppx

I'm going to start with typing the theme object

[2018-10-03 23:19] pahann opened #23 "Trouble to use Typography.Classes"
Maybe I'm wrong but I didn't find the way to use Typography.Classes variants. As they are not polymorphic or not exposed I don't find how to use it in order to put a class in a Typography element.

Thank you very much for your help =)

[2018-10-04 07:50] jsiebern commented on #23
Hi, not sure I would do it like this again, but you define the classes as a list of variants!

Example:
[code]

Lmk if this doesn't work for you!

[2018-10-04 07:50] jsiebern commented on #23
For reference:
https://github.com/jsiebern/bs-material-ui/blob/master/src/MaterialUi_Typography.re#L38

[2018-10-10 02:20] jadiaz opened #24 "MaterialUi Auto-Layout"
**Auto-layout**
The Auto-layout makes the items equitably share the available space. That also means you can set the width of one item and the others will automatically resize around it.

How is this done with bs-material-ui?

[2018-10-10 06:08] jsiebern commented on #24
@jadiaz That is a good point, I believe I removed the `true` option so they type for `xs`, `md` etc. does not need to be polymorphic! I need to think on this, I might add a variant `True` or something

[2018-10-10 20:52] #23 closed

[2018-10-22 11:04] fhammerschmidt opened #27 "TextField has no onKeyPress"
Would really like to use the enter key in text fields, but the bindings offer no onKeyPress prop.

[2018-10-30 20:41] mscharley opened #28 "SVG Icons"
It'd be great if the built-in SVG icon components were exposed. Currently I've inlined it
with the SVG from https://material.io/tools/icons/

[code]

It'd be lovely if this could be simply:

[code]

Which would pull the built-in component from `@material-ui/icons/AccountBox`.

[2018-10-30 20:56] mscharley opened #29 "Support passing through extra properties"
Reference: https://material-ui.com/guides/api/#spread

My specific use-case was attaching ARIA properties to a button. In React, these would filter down to the `<button>` element ultimately and just work. The strict typing gets in the way a little here. Perhaps all the components should inherit the props from `ReactDOMRe.props` and then extend from there?

It feels like #27 is related to this too.

[2018-11-02 10:51] #16 closed

[2018-11-02 10:53] jsiebern commented on #17
Fixed in `0.4.2`

[2018-11-02 10:53] #17 closed

[2018-11-02 10:53] jsiebern commented on #19
Fixed in `0.4.2`

[2018-11-02 10:53] #19 closed

[2018-11-02 10:53] #21 closed

[2018-11-02 10:56] jsiebern commented on #28
Hi, there already is https://redex.github.io/package/bs-material-ui-icons, though it does not look like it has been maintained in a while.  Please try the package and let me know. I think it makes sense to keep it in a separate package though anyway

[2018-11-02 11:28] jsiebern commented on #29
@mscharley In reason we unfortunately cannot inherit props from other components, it would be quite the manual mess to add all of those props. It would be super helpful if you could write up a list of props that makes sense for a given component (like the aria ones on the button).

[2018-11-02 11:35] jsiebern commented on #27
@fhammerschmidt The `onKeyPress` prop is not supported directly by MaterialUI as it seems (it doesn't even get passed on!)

You can do this though:
[code]

[2018-11-02 11:35] #27 closed

[2018-11-02 11:36] mscharley commented on #28
Hmm. I agree it makes sense to keep them seperate, I only just realised that it was from a seperate package. The namespace threw me for a bit. I'll give it a shot, though it's peerDependencies say it's only for `reason-react 0.3.x`. Looks like someone has done a PR to update it. Anyway, I'll close this and investigate further. Thanks for the pointer.

[2018-11-02 11:36] #28 closed

[2018-11-02 11:43] mscharley commented on #29
So far, the ARIA properties are the only ones I run into consistently when trying to follow along with the examples from the Material UI website. Most of the ARIA properties should probably make sense on most of the elements. If I run into others then I can add onto this issue or make another one though.

[2018-11-02 11:44] jsiebern commented on #29
You're probably right, I still don't want to add the aria props to every component just because. It'll take some time to properly assign them as it stands then :(

[2018-11-02 12:13] mscharley commented on #28
In light of the original dev not seeming to be responsive (ready-to-go update PR sitting cold for over a month) I'm taking the PR and running with it. If someone else finds this, I'm publishing updated packages as [`@mscharley/bs-material-ui-icons`](https://www.npmjs.com/package/@mscharley/bs-material-ui-icons).

[2018-11-02 14:07] jsiebern commented on #24
Please install `@next` and see if the new `mdAuto` (available for the other sizes) will work for your use case! Closing for now, feel free to re-open if there is unexpected behaviour!

[2018-11-02 14:07] #24 closed

[2018-11-05 20:36] kdkeyser opened #30 "Bindings for material-ui-icons"
Just wanted to double check that I am not missing anything: at the moment, bs-material-ui does not include bindings to the Material-ui-icons, right? (i.e. https://github.com/mui-org/material-ui/tree/master/packages/material-ui-icons )

Do you consider this as something you want to add later, of something better suited for a stand-alone package? If there is interest to add this, I will try and have

[2018-11-06 06:48] jsiebern commented on #30
It's not too big of a deal to add them to the bindings, I just wasn't sure yet if they'd belong as they are a separate package by themselves as well. But there's probably no harm in adding them as a peer dep and including them in the bindings.

Most theming works btw, theres just one manual binding you need to add:

[code]

[2018-11-07 21:33] kdkeyser commented on #30
Thanks for the info. Sounds like the remaining effort is quite doable, so I am giving it a go.

I started looking at reason-mui-binding-generator, but ran into some issues. I suspect that the README is a bit out of date, since there is no longer an env.example.js file, and no scripts folder. I changed the included env.js file in extract/src, and also modified package.json in the extract subdir (th

[2018-11-09 11:06] jsiebern commented on #30
You're not missing something obvious, I couldn't get babel to transpile `**` for the life of me (or rather for time I have maintaining this project on the side).

What you need to to is manually run a search and replace inside the `extract/core` folder (replace `**` simply by `*` for example). After you've done this the `yarn extract` inside the `extract` folder should work.

I really need to clea

[2018-11-11 20:00] kdkeyser commented on #30
I created a pull request for the bindings generator repo which fixes the issue with `**` and also reflects the changes in the process of generating the bindings in the README.

Started looking into generating the bindings for the icons as well, but react-docgen seems to have issues with the js modules for the icons (they are not identified as React modules). Will have a closer look. Maybe the js m

[2018-11-11 20:04] jsiebern commented on #30
@kdkeyser I've seen it, thanks so much, I'll merge it tomorrow! As for the icons: I believe that it is more than sufficient to just read the file names and generate the modules from the existing `Icon` module. A little like I did for the colors but with an actual react module underneath.

[2018-11-19 09:02] jsiebern commented on #22
@PTaylour Have you had any progress with typing the theme object as of yet? I'm planning a new version soon that will include some better theme support so it'd be great if I could work off of anything you have so far :)

[2018-11-27 16:59] PTaylour commented on #22
Afraid I haven't had a chance to look at it yet. Unlikely that I'll get to it before the end of the year :/

[2018-11-28 06:37] jsiebern commented on #22
No worries, I have written an auto extractor now to deal with it :) I'll close this for now as it will be taken care of in the next release!

[2018-11-28 06:37] #22 closed

[2018-11-28 12:34] PTaylour commented on #22
Awesome, your work on this project is very much appreciated :)

[2018-11-28 17:54] dysinger opened #32 "Theme support"
For discussion and possible action:
What would it take to support themes?

[2018-11-28 20:34] jsiebern commented on #32
I'm currently working on typing the theme object automatically. Theming is possible already, I wrote up an example somewhere in the issues :) The next update will be big with a few breaking changes but it'll be wort it.

[2018-12-11 17:06] ras9841 opened #33 "Cannot Use MaterialUI_Icons"
I'm trying to add the ExpandMore icon to the expansion panel component. I was referencing the example here (https://github.com/jsiebern/bs-material-ui/blob/master/examples/ExampleIcons.re), but the module`MaterialUI_Icons` cannot be found. I also tried directly using `MaterialUI_Icon`, but I was unable to figure out what to pass as the component.

I have materialUI core added as a dependency. Do I

[2018-12-11 21:21] jsiebern commented on #33
The readme and the examples are not up to date with npm, you need to install `@next`! And you are right, you have to install the  `@material-ui/icons` package separately to get it working!

Please try the `@next` branch and let me know if you're running into any more issues!

[2018-12-23 20:30] kdkeyser opened #40 "build fails due to case mismatch"
Building the ppx fails on Linux (Ubuntu 18.04) due to a mismatch between the filename of the ppx that is built (i.c. `ppx_withstyles.native`) and the filename that is used during the subsequent cp step (i.c. `ppx_withStyles.native`)

This is the output I get:

[code]

Quick fix is to change the filename in the cp instruction, but I am unsure if this is something platform/version dependant or not.

[2018-12-24 14:10] kjellaso opened #34 "How should I use theme.breakpoints.up?"
I can't seem to find an easy way to translate this material-ui example https://github.com/mui-org/material-ui/blob/master/docs/src/pages/getting-started/page-layout-examples/sign-in/SignIn.js,

to reasonML. Can someone please advise? It's especially the breakpoints that is hard.

[2018-12-24 15:18] jsiebern commented on #34
Hi, the theme bindings are far from perfect as it is unfortunately :-(

I have wrote up the example here (I wanted to see how to do that myself), it is a bit of trickery but it works well enough! It wouldn't be too crazy to write a small helper function for yourself to achieve the breakpoint stuff.

I'll take this part into account for the core package as well soon.

[code]

[2018-12-24 20:40] jsiebern commented on #34
No worries, I'll close the issue for now then

[2018-12-24 20:40] #34 closed

[2018-12-24 22:32] unodgs opened #35 "Unsafe styles problems after upgrading to 1.0"
Hi! I used safe styles but when I needed linux CI pipeline back then when no ppx for linux was available I switched to unsafe styles. And it worked until last update to 1.0 :) It looks like my styles are not applied. Example on github for unsafe style is quite old like it was not tested with recent changes. All my components use following pattern:
[code]
I would be very glad if it stared to work a

[2018-12-24 22:36] unodgs commented on #35
Btw.. if my component has  ```classesWithTheme={theme => []}``` it fails in runtime with error: `["Not_found", -6, tag: 248]`

[2018-12-28 22:55] jcdoig opened #36 "export createStyledWithTheme was not found in @material-ui/styles"
I'm received the following warning in webpack when I try to compile my code

[code]

indeed '@material-ui/styles' does not contain 'createStyledWithTheme'.
https://github.com/mui-org/material-ui/blob/master/packages/material-ui-styles/src/index.js

[code]

I'm using:
"@material-ui/styles": "3.0.0-alpha.3",
"@jsiebern/bs-material-ui": "1.0.0-beta.4",
"@jsiebern/bs-material-ui-ppx": "^1.0.2",

My co

[2019-01-03 14:13] jsiebern commented on #35
Hey, thanks for the report!

I had to go back to the current styling method and it works stable enough for me that I put `1.0.0` out. Can you try the latest release and report back if that fixes the issues?

You can look at the examples for styling by cloning this repo and going `yarn install`, `yarn examples`. Both unsafe techniques work in that context.

[2019-01-03 14:14] jsiebern commented on #36
I've had some troubles and back and forth myself with the new styling solutions, so I went back to the old way of doing things. Could you please install the latest version and report back if that fixed your issues? Thank you!

[2019-01-05 00:32] jcdoig commented on #36
It did fix the issue, Awesome Job. Thanks and happy new year!

[2019-01-05 00:32] #36 closed

[2019-01-06 22:50] unodgs commented on #35
Thx! It's much better now, but there is one serious problem and I think it's also fault of the new version. If I call a function on a record passed through props to the child component (I'm passing a store) I get maximum rerender depth error from react. This code looks like this:
[code]
SomePage calls in `didMount` `store.send(someaction)`.
If I remove from parent component `MaterialUI.WithStyles`

[2019-01-20 02:58] jcdoig opened #37 "MaterialUi_Icons Bundle Size"
Adding just one icon to my project makes my production* bundle size increase by 3Mb.

After inspecting my bundle I noticed it contains all the icons, not just the one I'm using. My guess is that the dynamic nature of the MaterialUi_Icons component makes three shaking impossible.

MaterialUi_Icons.re
[code]

Do you have the same issue? Any advise on how to deal with this problem?

Best and thank yo

[2019-01-23 00:18] jcdoig commented on #37
Thanks for taking a look at this issue! Sadly I don't feel qualified to advise on the best route, solution 2 sounds like it might be enough though.

Best!

[2019-01-28 21:11] RicheyRyan opened #38 "MaterialUi_Icons should be MaterialUi.Icons"
Hey, great work on the library so far. I really appreciate the good work!

When I try and use `Icons` from MaterialUI the error is that the module is unbound.

It doesn't seem to be exported from `MaterialUi.re`. However, it is available at MaterialUi_Icons.

I can make a PR to add it just below the `Icon` module:
https://github.com/jsiebern/bs-material-ui/blob/07b14ab57557a226fccc5c016b2adb285949

[2019-02-07 17:35] actionshrimp opened #39 "TableCell `align` prop"
Hey - this is awesome, thanks very much for making it!

I'm trying to figure out how to set 'align' on the `TableCell` component, as mentioned here:
https://material-ui.com/api/table-cell/ - as it appears under 'props' on those docs, I'd expect to be able to do:
[code]

Should this instead be done using the styling framework? I tried setting a className that set textAlign as I wanted, but it was o

[2019-02-12 11:52] mscharley commented on #37
For whatever it's worth, I'm already maintaining a copy of the first solution:

* https://github.com/mscharley/bs-material-ui-icons
* https://npmjs.com/package/@mscharley/bs-material-ui-icons

I found that in the practice the second solution doesn't help with code elimination.

[2019-02-12 15:41] jsiebern commented on #37
@mscharley Awesome! I'm actually thinking about separating them into their own packages as well. Also probably going to create mono-repo at that. Might as well!

[2019-02-20 16:30] ambientlight commented on #37
bumped into this as well, I found the quite handy manually binding the-only-icons-i-need like:

[code]

[2019-02-22 11:09] jsiebern commented on #37
This is getting way too big, I'm currently converting everything to a mono-repo for easier maintenance. I'll get 5 separate packages going in the end:
- bs-material-ui
- bs-material-ui-icons
- bs-material-ui-icons-outlined
- bs-material-ui-icons-rounded
- bs-material-ui-ppx

Not sure how to keep this organized any other way, I don't want to force a long compile time on people who'd rather use the

[2019-02-27 01:01] dysinger commented on #37
I added 1 icon to my app and the bundle blew up 5MB. :) Came looking for answers.

[2019-03-05 15:28] #40 closed

[2019-03-06 11:00] jsiebern commented on #37
FYI: I have removed all icons from 1.1.0 and am recommending @mscharley 's package now in the readme. It has everything that is needed, decent compile speeds and I would have done it rather similar anyway :)

[2019-03-06 11:00] #37 closed

[2019-03-06 11:01] jsiebern commented on #38
FYI: I have removed all icons from 1.1.0 and am recommending @mscharley 's package now in the readme. It has everything that is needed, decent compile speeds and I would have done it rather similar anyway :)

[2019-03-06 11:01] #38 closed

[2019-03-06 11:02] jsiebern commented on #39
@actionshrimp This is exactly how it should work! Please try updating to the latest version I just pushed and let me know if this still doesn't work :)

[2019-03-06 11:03] jsiebern commented on #35
Sorry for the delay. Could you update to the latest version and lmk if the issue still persists?

[2019-03-06 11:16] RicheyRyan commented on #38
Cool, thanks for getting back to me! I'll check out the other package. Thanks for your work on this one!

[2019-03-06 13:49] actionshrimp commented on #39
That's done the trick - thanks very much!

[2019-03-06 13:51] #39 closed

[2019-03-06 19:03] dysinger commented on #37
I ended up binding only the icons I needed thanks to the example in this
ticket.

On Wed, Mar 6, 2019 at 3:00 AM Jonathan <notifications@github.com> wrote:

--
PGP Key 0x3F1AB897B507274

[2019-03-10 21:50] unodgs commented on #35
Still the same problem, I'll prepare a test case to make it easier for you to check.

[2019-03-14 15:38] Will-W opened #42 "No docs appear on NPM"
I normally find packages and their docs via NPM in the first instance. If I do that for bs-material-ui now, I only see:

`Unable to find a readme for @jsiebern/bs-material-ui@1.1.0`

I think this is also having the effect that it doesn't appear in the top few results of Google any more (which is how I found it originally).

[2019-03-14 16:00] jsiebern commented on #42
I totally forgot to include the readme in the package after the refactor!

Thanks a bunch for pointing that out :)

[2019-03-14 16:05] Will-W opened #43 "PPX build fails at the end on Linux"
When the ppx is added (and then built) on linux, at the end the following error happens:
`cp: cannot stat './lib/bs/native/ppx_withStyles.native': No such file or directory`

This is because the command is written with a capital S and linux is case-sensitive.

This issue had previously been reported and fixed before the repos are merged (https://github.com/jsiebern/reason-mui-withstyles-ppx/pull/4

[2019-03-15 01:14] studious opened #45 "htmlFor for Label based components"
It would be nice to have htmlFor in props for Label based components.

The Material UI examples for Select
[code]

I was looking for htmlFor in your bindings but realised that it's not in the Material UI library so you haven't auto generated it. It's an optional in ReasonReact if passed through.

https://github.com/reasonml/reason-react/blob/a137c9dbde8816f5fae65a542a25aeefcc7b1d77/src/ReactDOMRe.

[2019-03-22 13:57] #45 closed

[2019-03-22 13:58] jsiebern commented on #43
Published a new version of the ppx with the PR included, that should fix it.

[2019-03-22 13:58] #43 closed

[2019-03-22 14:08] jsiebern commented on #42
Pushed a version that should fix that

[2019-03-22 14:08] #42 closed

[2019-03-27 13:14] studious opened #46 "Dynamic access to classes"
I would like to emulate the following in ReasonML but records can't be accessed dynamically like in JS
[code]
Is there a way I can dynamically select one of the Style Class Records? Would they need to be Js.Dict.t instead?

I've resorted to inline styles for the dynamic styling I need.

Thanks

[2019-03-27 13:19] jsiebern commented on #46
Hi, couldn't you just do:

[code]

I assume you mean the styles record coming from the ppx, correct?

[2019-03-28 00:24] studious commented on #46
Sorry I should have given a more complete example.

I was making composable helper functions like `makePassClass(item)(score->getPassRate)` to get a variety of different classnames that I was going to use to access the classes `rowGreen, rowOrange, rowRed, cellGreen, cellOrange, cellRed, ...`.

After posting my question I starting moving in the direction you suggest as well. It's not quite as comp

[2019-04-02 11:19] jsiebern commented on #46
No worries, thanks for the explanation!

[2019-04-02 11:19] #46 closed

[2019-04-08 19:04] xavierzwirtz opened #47 "ppx issue on windows"
I am attempting to use `bs-material-ui-ppx` on Windows 10, but cant seem to make it work without hacking it up. With a stock install of the package, and adding `"ppx-flags": ["@jsiebern/bs-material-ui-ppx/ppx"]`, to my `bsconfig.json` I get this error message when compiling:
[code]
However, if I move the ppx file to ppx.exe, and change the ppx-flags path to end with `.exe` it works.

[2019-04-11 05:10] xavierzwirtz commented on #34
Wrapped this up so that its a bit sexier to use.

[code]

Using it to add a breakpoint to a ReactDOMRe.Style.t:
[code]

[2019-04-11 17:03] liilac commented on #47
Hi,

I've encountered a related issue attempting to use the `bs-material-ui-ppx` package on Windows 10.

Output from attempting to run `yarn add --dev @jsiebern/bs-material-ui-ppx` is [here](https://gist.github.com/liilac/f042127cdfcb2834b363ba9209d35f14).

Relevant snippets below:
[code]

Notably, see the last line, `ppx_withstyles.native.exe` is built with the `.exe` extension

[2019-04-26 06:50] unodgs commented on #35
OK, I found finally some time to make a minimal test case:
[bs-material-ui-test-case.zip](https://github.com/jsiebern/bs-material-ui/files/3120028/bs-material-ui-test-case.zip)
Tu run it please do:
[code]
If you open it the first time you'll notice maximum depth error in the console (and some other warnings)
There are two ways to get rid of it. First is to comment line 8 in `userList.re`:
`store.s

[2019-04-27 06:48] unodgs commented on #35
I also tried safe styles:
[code]
and this one works too :) So there must be sth wrong with `MaterialUi.WithStyles`

[2019-04-27 22:49] anisjonischkeit opened #48 "Why is not using the ppx for withStyles unsafe?"
Hey, still early days for my use of these bindings and I'm deciding whether it is worth it to use the ppx (I don't have a strong reason not to use it but also don't have a strong reason to use it). The API looks almost the same to me so I'm wondering what makes it unsafe?

[2019-04-28 06:07] jsiebern commented on #48
Hey, glad you're here, early days or not ;-)

So unsafe refers mostly to losing the names of your classes. You could miss spell a name of a class in the render method with the unsafe bindings. This doesn't happen with the PPX as a record of class names is being passed into the render function.

The PPX is the reason way (full compiler complaining), without the hassle of converting the input to the

[2019-04-28 20:00] Tevinthuku opened #49 "The new reason react hooks"
I'm getting this error upon attempting to use the bindings with the new reason react hooks template

![image](https://user-images.githubusercontent.com/12128153/56869259-02744380-6a07-11e9-91c2-221cba20d08b.png)

I'm open to helping in any API changes that are necessary to enable compatibility with the new version of Reason React

[2019-04-29 04:48] jsiebern commented on #49
Hi, please try:

yarn add @jsiebern/bs-material-ui@hooks

The hooks version is currently on a separate branch.

[2019-04-29 07:21] Tevinthuku commented on #49
Awesome, I hadn't seen that. thanks for the good work

[2019-04-29 07:21] #49 closed

[2019-05-02 22:26] jeddeloh commented on #29
We use aria-label extensively in testing for similar reasons discussed here: https://github.com/testing-library/react-testing-library/issues/16. Any progress on this or help needed? I can get that list of props for each component if still needed. Just skimming the built-in MUI typescript definitions, it seems likely that every non-helper component extends the same `React.HTMLAttributes` there.

Hu

[2019-05-04 12:38] anisjonischkeit commented on #48
Ahh, I didn't realise `##className` wouldn't guarantee that `className` exists on the object. Thanks!

[2019-05-04 12:38] #48 closed

[2019-05-06 13:14] anisjonischkeit opened #50 "Step bindings cause an error at runtime."
Inserting a `<Step />` I keep getting this error. looks like something to do with `[@bs.deriving jsConverter]`. Any ideas?

<img width="636" alt="Screenshot 2019-05-06 at 15 09 54" src="https://user-images.githubusercontent.com/22971353/57227285-4c65b680-7011-11e9-879d-bec95998e75d.png">

[2019-05-06 14:58] jsiebern commented on #50
I assume you're on the hooks branch, right? I'll check it as soon as I can

[2019-05-06 15:40] anisjonischkeit commented on #50
Yeah, I'm on the hooks branch. Thanks heaps!

[2019-05-10 01:36] jcdoig opened #52 "Select Component returns polymorphic variant for onChange event"
On the hooks branch the select component behavior has changed.

Previously I would set up the value prop as `String(value) and the onChange event value would be a string. Now the event value returns a polymorphic value [id, "string"].

Switching to native select fixes the problem

[2019-05-12 14:33] anisjonischkeit commented on #50
I actually think this is a BuckleScript issue. I've raised it here: https://github.com/BuckleScript/bucklescript/issues/3548

[2019-05-13 11:57] contrastBro commented on #50
Hi,
the same happens also if you try to use <MaterialUi_Tab />
"textColorToJs" triggers binarySearchAux

[2019-05-19 03:21] bobzhang commented on #50
See my comments about how to debug such things, can you log the input ?

[2019-05-20 21:11] Phylodome opened #53 "Postinstall script calling bsb instead of bsb-native within Docker container."
I'm encountering a strange issue when I attempt to containerize a project that includes `bs-material-ui-ppx`.

Outside the containerized environment everything works fine, but when I try to build a Docker container using the `node:11` image, I encounter an issue when the `postinstall` script attempts to build via `bsb-native`. It appears to execute the default `bsb` from `bs-platform`, per this er

[2019-05-23 20:25] Schmavery commented on #53
iiuc both `bsb-native` and `bs-platform` put a executable called `bsb` in `node_modules/.bin`. Could there be a difference in how different versions of npm resolve this collision maybe, resulting in running the wrong one in the postinstall? Pretty much a guess.. and the point you make about the path in the logs does seem to indicate that it's running bsb-native.
Is there a difference between the n

[2019-05-24 20:47] Phylodome commented on #53
Yeah, it’s definitely the case that NPM is trying to “optimize” the dependency graph by placing both executables at the root bin.

Best I can tell by scouring the web for similar issues, it’s possibly an issue with platform discrepancies in how symlinking of the executable paths works.

To be honest, though, this just forced me to ask the deeper question of: “do I want to depend on a part of this

[2019-05-25 00:11] Phylodome commented on #53
Perhaps this is a decent opportunity to ask @jsiebern about his future plans for this repo:

- Are you still planning to maintain this lib alongside the evolution of MaterialUI? For example, [v4 was just released](https://medium.com/material-ui/material-ui-v4-is-out-4b7587d1e701), with [changes](https://material-ui.com/guides/migration-v3/) that will require some minor API updates.
- When do you f

[2019-05-28 08:51] roopana12 opened #54 "Tabs Component doesn't highlight selected tab"
Using properties like `indicatorColor` or `textColor`, the **_selected Tab_** doesn't get _highlighted_.

I tried to use the **Tab component** by cloning this repo and editing one of the files in the examples folder https://github.com/jsiebern/bs-material-ui/tree/master/public/bs-material-ui/examples
And noticed this below output
<img width="283" alt="Screenshot 2019-05-28 at 2 21 04 PM" src="http

[2019-06-13 14:35] anisjonischkeit commented on #50
I got some time today to take a closer look at this. Looks like the orientationToJs function works fine when using `"bs-platform": "5.0.5-beta.1"`.

There is still a problem. The thing being passed into orientationToJs (`type orientation`) should be a number when you `Js.log` it but when orientation isn't specified (ex. `<Step>`) it is actually the string "vertical". I don't know where this defaul

[2019-06-13 14:37] jsiebern commented on #50
Thanks for taking a look. So sorry guys, being overwhelmed at work right now. I'm making some progress little by little upgrading to v4 though, I'll try to include a fix to this as well!

[2019-06-13 21:37] anisjonischkeit commented on #50
Do you understand what the problem is or should I keep digging whenever I get time?

[2019-06-14 07:34] zth commented on #50
I have the same problem and would gladly help anyway I can. Just let me know!

@jsiebern thank you for this lib btw, it's really great. Happy user over here!

[2019-06-14 11:32] anisjonischkeit commented on #50
Material-ui's `Step` and `Stepper` components use React.cloneElement to [set the orientation prop](https://github.com/mui-org/material-ui/blob/08bdf768f6b79cc269d62ef059eae4273d5dbd9f/packages/material-ui/src/Stepper/Stepper.js#L88) of their children if the prop isn't present. So the problem lies in the fact that `orientation="vertical"` is being sent to a ReasonReact component that expects a vari

[2019-06-16 14:48] jsiebern commented on #50
@anisjonischkeit Thanks for the in depth  explanation, that helped out a lot. I have solved this with a good enough compromise I believe. Basically all Step components now have their orientation prop parsed like this:

[code]

I don't think theres a good way around their technique of using `React.cloneElement`. I hope I'll be ready for v4 soonish, thanks guys!

[2019-06-16 15:00] jsiebern commented on #50
PS: Fixed it for tabs as well, let me know in this issue if you guys find anymore examples of those pass through props

[2019-06-16 15:02] jsiebern commented on #54
This should be fixed in the next release (see #50 ), closing it for now.

[2019-06-16 15:02] #54 closed

[2019-06-16 16:24] anisjonischkeit commented on #50
Thanks @jsiebern, looks good to me!

[2019-06-20 00:28] xavierzwirtz commented on #47
This is resolved in the `hooks` branch.

[2019-06-20 00:28] #47 closed

[2019-06-27 18:06] PierreGuttAlive commented on #50
Hi! Just got this issue in Tab component, any progress on it?

[2019-06-28 21:28] anisjonischkeit commented on #50
@PierreGuttAlive I believe this is fixed. Are you on the latest commit on the hooks branch?

[2019-07-01 13:57] PierreGuttAlive commented on #50
I am using version 1.1.0-hooks.3

[2019-07-15 12:50] david opened #61 "JSX3 support"
Hey, thanks for this, I'm only starting with Reason/BS and it's good to find these nice packages one can use to hit the ground running. However, I'm getting an error which I assume has to do with this package not supporting JSX3. Do you have any plans to upgrade to that?

This is the code I have

[code]
and the error I'm getting:
[code]
Thanks!

[2019-07-18 07:54] jsiebern commented on #61
Hi, please use the @hooks branch for now (or better pull it from github right now). That has the new JSX version. I'm working on an update at the moment but lack the time to get it finalized :-/ Will be soon!

[2019-07-18 07:54] #61 closed

[2019-07-19 20:34] david commented on #61
Hi, thanks for taking the time to reply. I appreciate it.

[2019-07-19 23:54] Phylodome commented on #53
@jsiebern Could you provide any information with respect to the questions above? Apparently there are at least a few of us who are curious.

Would you like help managing this repo? Would it be better for us to fork and evolve things separately? It would be great to hear from you before needlessly forking this project any further.

[2019-07-25 18:43] jsiebern commented on #53
@Phylodome yes, sorry about not being as active lately - work has been quite overwhelming.

I absolutely plan on keeping these bindings up to date, as I use them myself quite heavily. I'll try answering your questions as best I can for now:

Yes.

As soon as I have a stable version of v4 running on it. I will have a lot more time to dedicate to OS again in around 2 - 3 weeks. I'll try get this out

[2019-08-03 00:04] Phylodome commented on #53
Thanks for the answers. I look forward to seeing / familiarizing myself w/ the stable v4 version.

With respect to the PPX, I'm just dipping into those waters myself, so I do not have any suggestions with respect to this other than perhaps pre-building platform-specific binaries such that `bsb-native` isn't called during install. Out of curiosity here, have you had any luck containerizing this lib

[2019-08-07 21:53] jsiebern commented on #50
Should be fixed in the latest `@hooks` from NPM

[2019-08-07 21:53] #50 closed

[2019-08-07 21:53] jsiebern commented on #52
Should be fixed in the latest `@hooks` from NPM

[2019-08-07 21:53] #52 closed

[2019-08-07 21:53] jsiebern commented on #35
@unodgs Is this issue still relevant?

[2019-08-07 22:04] unodgs commented on #35
Issue still exists in the latest stable version and I'm still on 0.4.2 because of that :( It would be great to have this fixed (especially that safe styles don't work in windows env). But if that's problematic maybe it's not worth wasting time on it - eventually I will need to switch to reason react 0.7 with hooks so I will be forced to make bigger refactoring anyway. Did you try my test-case?

[2019-08-19 16:31] AndreaZChen opened #62 "InputLabel no longer renders children"
`InputLabel` seems to be broken as of [this commit](https://github.com/jsiebern/bs-material-ui/blob/fc75eed93a7cdf76a96ad68c0d867ec8ec82cdee/public/bs-material-ui/src/MaterialUi_InputLabel.re). It doesn't render the actual label anymore. Removing the `htmlFor` prop seems to fix it.

[2019-08-20 18:26] jsiebern commented on #62
That's odd, did you check the current examples? It works fine with them. Which versions do you have installed? (Both bs-mui & mui)

[2019-08-20 22:27] MargaretKrutikova opened #63 "Usage of pseudo css selectors"
I was wondering whether pseudo selectors are supported in the ppx.

When using `material-ui`, you can do:
[code]
but I couldn't find any similar examples in the repository.
Thanks!

[2019-08-23 10:43] MargaretKrutikova commented on #63
I figured how to do it by looking at the examples in the repository. For someone who might be looking for the solution:

[code]

Thank you for all the work on this library! Looking forward to the official release with hooks (even though I am already using it and it is amazing 🙂).

[2019-08-23 10:43] #63 closed

[2019-08-28 10:00] MargaretKrutikova opened #64 "Large bundle size overhead if using withStyles ppx"
I was trying out the hooks branch and used `[%mui.withStyles...]` in quite a lot of my components to override styling. I checked the bundle distribution with `source-map-explorer` and it showed that the components that used the `ppx` (around 10-15 in total) where larger than `react-dom` itself.

It appears that the generated javascript from `[%mui.withStyles...]` has a function `style` that takes

[2019-09-09 05:50] studious commented on #29
I'm also trying to get onClick to work on TableRow which regular javascript I guess passes through. Any suggestions for onClick on a TableRow?

BTW I'm keenly waiting on your JSX3 support from your hooks branch.
Thanks

[2019-09-18 13:59] jsiebern commented on #64
Hi, thanks for reporting, that is definitely not intended behaviour 😂 I'll look into it and abstract that function as soon as I have the time.

[2019-09-26 17:29] jesusem15 commented on #53
I have the same issue when I'm trying to run a project inside of a docker container.

node: v8.12.0
yarn: 1.12.1
bsb: 5.0.6

I got this error:
[code]

My container has installed the same versions that my local machine, but on my machine is able to run the project without problems, do you know any solutions?

[2019-09-28 21:08] Phylodome commented on #53
@jesusem15 No, after suffering through many hours of attempting to debug this at multiple levels of analysis, I just decide to rip out the `WithStyles` aspect of this library, whose usage triggers the necessity to include the PPX dep.

Instead we just use `bs-css`, and have rolled our own `StylesProvider` so that we may use the `injectFirst` feature of Material UI that injects custom styles before

[2019-10-05 12:01] jsiebern commented on #64
@MargaretKrutikova Hi again. I'm trying to replicate this issue, but I can't get it to generate this function. Could you provide a repro with the current version?

[2019-10-06 12:50] MargaretKrutikova commented on #64
You can check [this repo](https://github.com/MargaretKrutikova/bs-react-netlify-identity/tree/mui_ppx/examples/material-ui) at that specific branch, since I removed `mui_ppx` from `master`.

I have the latest hooks branch, `1.1.0-hooks.8`, just tested it again with the same result. Thanks for looking into this!

[2019-10-16 09:57] MargaretKrutikova commented on #64
Wow, I just realized why it was generating that huge function in every file where I used the ppx. This line:
[code]
just copies that huge function into every file and I had it defined like this literally in every file 😆

It has nothing to do with your ppx, just me who was really dumb. I am very sorry for reporting this issue, hope it didn't take much of your time to look into it!

[2019-10-16 09:57] #64 closed

[2019-10-16 10:00] jsiebern commented on #64
@MargaretKrutikova Don't worry about it, **** happens 😂

I usually use `bs-css` to generate my styles. Yes, it has a little overhead, but it's soundly typed and works well. I have a helper function to interop with the ppx defined like this:

[code]

[2019-10-16 10:06] MargaretKrutikova commented on #64
Oh, I absolutely love `bs-css` 😄 Wow, nice, thanks for the example code, will try it!

Since we are at it anyway, why does this `let style = ReactDOMRe.Style.make;` copy the whole function instead of just creating a reference to it? Is it something `OCaml` does per default or is it `Bucklescript`?

[2019-10-16 10:12] jsiebern commented on #64
Good question... It's definitely Bucklescript though. The language gods are discussing this exact topic over on twitter right this moment (well, to be fair, it's about modules and how that works, but the underlying mechanic must be connected).

https://twitter.com/bobzhang1988/status/1184029044943097856

[2019-10-16 10:19] MargaretKrutikova commented on #64
Oh cool, thanks for the link! I will definitely remember this lesson now 😃

[2019-10-21 08:34] tejesh014 commented on #49
Hi, Are planning on merging this to master. Needed this for my code that currently uses hooks.

[2019-11-13 14:55] jeddeloh opened #70 "SvgIcon needs props update for v4.x"
I believe `nativeColor` should be changed to `htmlColor`. I'm on hooks branch and haven't checked master.

[2019-11-13 16:26] jeddeloh commented on #70
Nevermind! I got distracted in the middle of upgrading and had stale node_modules.

[2019-11-13 16:26] #70 closed

[2019-11-18 15:22] jsiebern commented on #53
Hey guys, I have shamelessly stolen from `graphql_ppx` and implemented Github actions in order to ship prebuilt binaries. Could you guys test the new system and report back if it works okay?

`yarn add @jsiebern/bs-material-ui-ppx@test`

[2019-11-26 22:23] dakotamurphyucf commented on #29
A workaround to this is using the ```component``` input. Create a JS component that uses the same underlying dom element that is used in Material-UI but adds the properties you need.

[code]
Then through FFI import it and use that as the component.
[code]
@jsiebern Looks like the signature for the Component should be
Side Note:

[2019-12-03 21:45] KasperJanssens opened #71 "Can't get any of the examples to compile"
I must be doing something terribly stupid but I can't seem to get any of the examples to work. I am rather new to ReasonML.
I tried to make a minimal example
[code]

When I try to compile it it tell me this:

So I am a bit unsure what this says because I suspect there are some type aliases at work here, but it seems to suggest I need to pass in a function instead of a value somewhere. I can't real

[2019-12-04 15:19] infodevart commented on #71
Exactly the same error here. I'm discovering Reasonml and I wanna give ReasonReact a shot.

[2019-12-04 15:23] jsiebern commented on #71
I'm sorry guys, I desperately need to publish the hooks bindings onto the master branch.

For now, just run
`yarn add @jsiebern/bs-material-ui@hooks`

[2019-12-04 16:01] infodevart commented on #71
@jsiebern wow that was a really fast answer. I just tried that and everything compiles fine, but if I use a MaterialUi component the page becomes blank and I got this error in the browser console
/src/Dashboard/Dashboard.bs/__mod/@material-ui/core 404 not found.
Still really thanks for the good work here.

[2019-12-04 20:17] KasperJanssens commented on #71
Okay this seems to work locally on my machine, but I cannot find a version for this and cannot add it to my package.json it seems. It always complains that the version I try to install is not present. Bit annoying for my CI ;-)

[2019-12-05 11:47] jsiebern commented on #71
@KasperJanssens
The current version to use would be `1.1.0-hooks.14` instead of `1.1.1`!
So the command `yarn add @jsiebern/bs-material-ui@1.1.0-hooks.14` should install the right one.

@infodevart
You need to install MaterialUI separately, it's listed as a peer dependency only.
`yarn add @material-ui/core @material-ui/styles`
That should do it 👍

[2019-12-05 12:21] KasperJanssens commented on #71
yeah so I am using npm and this is my dependenies list :
  "dependencies": {
    "@jsiebern/bs-material-ui": "^1.1.0-hooks.14",
    "@material-ui/core": "^3.9.2",
    "bs-webapi": "^0.15.6"
  },

I need to specifically do npm install --save @jsiebern/bs-material-ui@hooks on top of that if not I get an issue during run time 'TypeError: "u.makeProps is not a function"'.
If I then do this : npm insta

[2019-12-06 08:11] infodevart commented on #71
@jsiebern I just did a new project and  installed the dependencies but now I got the problem with the Popper

http://localhost:8000/moduleserve/mod/node_modules/@material-ui/core/Popper/Popper/__mod/popper 404 (Not Found)

[2019-12-14 10:38] jsiebern commented on #71
@KasperJanssens Material UI should be version v4.x, that's what the latest hooks version uses.

@infodevart What are you using to serve it? Is that an HTTP/2 server? Never experimented with it before to be honest.

[2019-12-14 20:48] JanKaul commented on #71
First of all, thanks for the amazing work. It is such a helpful library.

I also get
`Error: http://localhost:8000/moduleserve/mod/node_modules/@material-ui/core/Popper/Popper/__mod/popper: Not Found`.

I'm quite new to this, so this could be not what you mean, but I guess it is served with moduleserve [https://github.com/marijnh/moduleserve](https://github.com/marijnh/moduleserve) as provided by

[2019-12-16 10:06] kd4001 opened #73 "Arrow prop doesn't exist for tooltip."
Arrow prop doesn't exist as a prop for tooltip. Can someone please add the prop. Implementation exists in material-ui binding. Or some other way to implement this ?

<img width="1439" alt="Screenshot 2019-12-16 at 3 33 50 PM" src="https://user-images.githubusercontent.com/57889116/70898010-d0593580-2019-11ea-8c3c-9cb4cfef497e.png">

[2019-12-16 10:07] jsiebern commented on #73
Hi, the bindings always lag a little behind the main version. I'll see if I can get an update out quickly. Thanks for the notice!

[2019-12-16 10:10] kd4001 commented on #73
I guess it's not in version v4.6.1. Version upgrade needs to be done for @material-ui/core v4.8.0.
Is this update anytime soon?

[2019-12-16 10:11] jsiebern commented on #73
Yeah, for sure, hope I can get this done today but can't promise anything. Soon anyway 👍

[2019-12-16 16:04] jeddeloh opened #74 "Link missing href, onClick, rel, and target props"
https://material-ui.com/components/links/

I'm on hooks branch and have not checked master.

[2019-12-18 14:20] KasperJanssens opened #75 "Cannot pass id-property to all components"
I noticed that not all components can have the id property passed to them. For instance, TextField can, but List can not, it is not available in its properties. Having the id attribute in the dom tree is really pracitcal when trying to run selenium tests on it I find.

Is there a reason why this attribute is not available? I do not think my use case is so exotic, so that's why I am not sure whethe

[2019-12-23 06:55] kd4001 commented on #73
Hey, any update on this issue?

[2019-12-26 09:47] jsiebern commented on #74
Got those in for the next release, thanks for reporting!

[2019-12-26 09:47] #74 closed

[2019-12-26 09:48] jsiebern commented on #73
Got the package updated, new release coming today. Thanks for reporting :)

[2019-12-26 09:48] #73 closed

[2019-12-26 09:54] kd4001 commented on #73
Thanks for the resolving the issue.

[2019-12-26 10:43] jsiebern commented on #75
@KasperJanssens The `id` Prop also comes from auto-generation (so basically wether it's documented by MUI or not). Probably no harm in adding it everywhere but I really don't want to put "general" attributes everywhere. That would just dilute the autocompletion advantages in my opinion.

[2019-12-26 10:43] jsiebern commented on #62
Closing due to inactivity

[2019-12-26 10:43] #62 closed

[2019-12-26 10:44] jsiebern commented on #53
Closing as I have released the 2 version ppx now

[2019-12-26 10:44] #53 closed

[2019-12-26 12:55] KasperJanssens commented on #75
I understand. Not having the id-property  is something that is very annoying while trying to assert components on screen. Striking a balance with the usefulness of autocompletion and the usefulness of the library itself is of course very important. Not having this id property is a bit painful, css queries are not very readable and are rather brittle.

[2019-12-29 11:03] jsiebern commented on #75
For testing I usually create a higher order component that gets compiled away in production mode. Something like:
[code]
Output in test/dev node env is then:
`<span id="button-login"> <button ... /> </span>` or whatever wrapping element makes sense.

In production: `<button ... />`.

I made one with cloning the element in test env and applying the id as well at one point in time. I believe that's

[2019-12-30 10:54] KasperJanssens commented on #75
Interesting, by production mode do you mean putting the NODE_ENV variable to production? Or is this something reasonml-specific? This feels like quite some overhead for something as simple as an id prop though, to be honest (mainly for the sheer amount of those TestRefs I would possibly have), but I understand your point of view.

[2020-01-14 03:19] arsdragonfly opened #76 "Support x64 linux"
[code]

[2020-01-14 21:32] jeddeloh opened #77 "Avatar missing variant prop"
https://material-ui.com/api/avatar/

[2020-01-15 10:56] leeor opened #78 "Generate bindings to "@material-io/core/Component" .default?"
Trying to reduce my bundle size when using MaterialUI, I see that the way the bindings are generated is to require the whole "@material-ui/core" package and then access a single component each time:
https://github.com/jsiebern/bs-material-ui/blob/c53e2e8598745b77e6edafa43bb01031098a2bb9/tools/binding-generator/src/classes/component.ts#L126

Can we change the generated bindings to require the compo

[2020-01-15 11:19] #78 closed

[2020-01-23 17:18] andywhite37 opened #79 "material-ui-pickers support?"
First of all, thanks for your work on this library!

I was curious if you'd considered adding support for [material-ui-pickers](https://material-ui-pickers.dev/) in this library? There are a few existing bs bindings for this library out in the wild, but they are still on the old ReasonReact record API, so would need to be updated (which I was debating doing). I thought it might be useful to bundle

[2020-01-26 14:03] hpierre74 opened #80 "SSR Support : ServerStyleSheet bindings"
Hi, thanks for the amazing job you did so far !

Do you plan to ship bindings for ServerStyleSheet any time soon ?

If not how would you think such bindings would look, I have hard times finding how to handle classes which implements methods ?

[2020-01-31 17:06] erlandsona opened #81 "TextField should not allow children."
It seems obvious now but the fact that TextField renders to a raw `<input />` <- and inputs clobber their children, shouldn't MaterialUi not allow the children prop to be passed?
This code was silently failing.
[code]
 And it took a day and half to realize that TextField and Popover needed to be siblings for the code to work. EG:
[code]

If we remove [~children](https://github.com/jsiebern/bs-mate

[2020-02-03 20:32] kamilkuz opened #82 "Examples in readme in Jsx3"
Now in readme there are examples using components in Jsx2. I saw that the newest code has binding to Jsx3 components - good to update readme - now examples will not work with newest code.

[2020-02-09 19:35] Yakimych opened #83 "Binding for Box component"
The binding for "Box" seems to be missing: https://material-ui.com/components/box/

[2020-02-09 20:06] Yakimych opened #84 "Binding for the "useMediaQuery" hook"
Seems to be enough with the following for this binding:
[code]
I was thinking adding this one and a binding for the Box component, but ran into problems when trying to build locally - is there a contributors guide one could follow otherwise?

[2020-02-18 15:21] erlandsona opened #85 "PPX not building on OSX bs-platform 7.0.2-dev.1, Linux CI bs-platform 7.1.1"
Ran this...
`yarn add --dev @jsiebern/bs-material-ui-ppx`

Added "@jsiebern/bs-material-ui-ppx/ppx6", to bsconfig.json
And...
[code]
@aantron in Discord suggested...

scratch that, 4.09 ASTs will be available assuming a high enough version of OMP, https://github.com/jsiebern/bs-material-ui/blob/master/public/bs-material-ui-ppx/esy.json#L6, look in the OMP changelog

I gave a shot at building my fo

[2020-02-18 15:25] aantron commented on #85
FYI the the internal AST should be upgraded to the latest one available from OMP, no matter what version of the compiler the PPX is meant to work with, because this will maximize the forward-compatibility of each subsequent bs-material-ui-ppx release with respect to this kind of error. At the moment, that would be 4.09 or 4.10.

[2020-02-19 12:47] aantron opened #87 "OMP 1.6.0 allows distributing one PPX binary for all BuckleScript versions"
See https://reasonml.chat/t/2210 for a full explanation.

[2020-02-20 00:09] erlandsona commented on #83
I second this

[2020-02-20 00:10] erlandsona opened #88 "Binding for labs/Autocomplete plez!!! :pray:"
Would love to have this... currently implementing my own less good version of this with TextField and Menu... except it doesn't autocomplete 🤷‍♂ .

[2020-02-24 15:44] brad-decker commented on #85
For some reason everything works locally for me, but when I attempt to deploy to zeit's now, it shows a similar error as above. Is this the same issue?

[code]

[2020-02-25 18:07] brad-decker commented on #85
For now i've created the following API for creating styles with material-ui without the ppx:

[code]
The overhead of creating the record is "not great, not terrible". I tried ejecting from material-ui altogether for these extra style additions, bs-css can do it out of the box but with my app i'm using SSR and trying to figure out how to get that all working was a pita.

My custom Styles.re module:

[2020-03-01 03:50] benjstephenson commented on #79
I'd be up for giving a hand with this too.  Had a go at running the tools on material-ui to get a feel for how they worked but didn't have any luck; most of my experience is back end so these are all new tools to me.

[2020-03-18 11:23] mikaello opened #91 "TableCell: wrong type for binding to sortDirection"
`sortDirection` in `TableCell` has [this binding](https://github.com/jsiebern/bs-material-ui/blob/master/public/bs-material-ui/src/MaterialUi_TableCell.re#L20-L25):
[code]

But the [expected type is ` 'asc' | 'desc' | false`](https://material-ui.com/api/table-cell/#props). The error is `false`, that is sent as a string from this lib, but is expected as a boolean, from console:
[code]

Is it possib

[2020-03-19 19:47] erlandsona commented on #85
I got this working locally with bs-platform v7.1.1 after bs-abstract merged the PR that enabled me to make the upgrade.

Now I've got this error happening in CI...
[code]
EpicT.re doesn't have any references to `[%mui.withStyles]` in it so I'm inclined to think it's an issue with the ppx on Linux?

[2020-03-20 08:28] timerg commented on #85
I got this error, too.
The complier works fine on local but fail when run CI in linux environment.
[code]

[code]
firstTesting.re doesn't have any `[%mui]` flag.

But after changed CI environment from Linux to macOSX, the error disappeared. I've also tried other ppx tools and all work fine. Thus it should be an issue with ppx on Linux.

[2020-04-01 22:19] Phylodome opened #95 "Incorrect Type: Typography constructor's ~fontSize should be number, not string."
It appears that though the `make` function created by `[@bs.deriving abstract]` for `Typography` records only accepts `~fontSize:string`, the MaterialUI library requires that this property be a number, going so far as to enforce a `typeof` check:

**`material-ui` library:**
![Screen Shot 2020-04-01 at 3 03 31 PM](https://user-images.githubusercontent.com/241837/78191749-814dd980-742b-11ea-84bf-42a

[2020-04-05 11:50] #71 closed

[2020-04-05 13:45] jsiebern commented on #77
This is added in the upcoming release

[2020-04-05 13:45] #77 closed

[2020-04-05 16:03] jsiebern commented on #81
I have looked into this extensively and tried to determine when to be able to ignore these kinds of props automatically. Unfortunately the Docs of Mui don't make good distinctions. `TextField` inherits from `FormControl`, so there's no good way to keep these out unfortunately.  Shouldn't be an issue for most anyway.

[2020-04-05 16:03] #81 closed

[2020-04-05 16:08] jsiebern commented on #75
I have added the `id` prop for all components to the upcoming release.

[2020-04-05 16:08] #75 closed

[2020-04-05 16:23] erlandsona commented on #81
Why not look at the underlying HTML component? Sure TextField inherits from form control but ultimately it turns into a bunch of docs decorating an input element which will just clobber any children passed in.

Am I missing something?

[2020-04-05 16:27] jsiebern commented on #81
I'll say this: It's unfortunately not possible without blowing the maintenance cost of these bindings completely out of proportion, sorry.

[2020-04-05 20:10] jsiebern commented on #83
This will be added in the upcoming version 👍

[2020-04-05 20:10] #83 closed

[2020-04-05 20:37] jsiebern commented on #84
Hi, thanks for that code, I'll be sure to include it in the upcoming version. Unfortunately building the project is not exactly straight forward. Some code even still relies on my local paths. I realize it's a no-go but I have hardly time to maintain the project as it is, let alone refactor it for contributors unfortunately.

It will be available at `MaterialUi.Core`, probably like so:
[code]

[2020-04-05 20:37] #84 closed

[2020-04-13 00:28] SkinyMonkey opened #97 "popper.js not found"
On a brand new install.
The load is taking at least 18seconds on my webpage and ends with a: popper.js 404 Not Found.

Versions:
bs-platorm: 7.2.2
moduleserve: 0.9.0
bs-material-ui 1.2.0
material-ui/core: 4.9.10
material-ui/styles: 4.9.10

i even tried to install popper.js by hand but nothing did it :/

Thank you for checking this.

[2020-04-13 00:49] SkinyMonkey commented on #97
Seems linked to https://github.com/jsiebern/bs-material-ui/issues/71

[2020-04-13 00:52] SkinyMonkey commented on #97
Nevermind, it's a moduleserve problem.

Check this to fix the problem:

https://github.com/amsross/regenesis-chart/commit/f11c522412c81c2886044a8c844c3c30837617ae

[2020-04-13 18:38] #97 closed

[2020-04-17 22:04] jsiebern commented on #95
Should be fixed in the upcoming version.

[2020-04-17 22:04] #95 closed

[2020-04-18 18:06] #85 closed

[2020-04-18 18:06] #87 closed

[2020-04-18 19:11] jsiebern commented on #91
This will be fixed in the upcoming version

[2020-04-18 19:11] #91 closed

[2020-04-18 20:32] jsiebern commented on #76
Could you tell me the exact OS you are running? Gotta see if I can get that tested somehow. Thanks!

[2020-04-18 20:54] leeor commented on #76
I ran into this issue trying to build in a docker container based on the official node image - which is based on Debian.

I'm currently using a workaround script that builds the ppx before it builds my app. It costs me an extra 5-6 minutes per build.

[2020-04-18 21:23] jsiebern commented on #80
I have added this to the upcoming version. You can find the example code here:
https://github.com/jsiebern/bs-material-ui/blob/393c80fbdfae5ae83bdd6f749c9f8f10e19664e9/public/bs-material-ui/examples/ExampleServerStyleSheets.re#L17-L23

[2020-04-18 21:23] #80 closed

[2020-04-18 21:32] jsiebern commented on #79
I do have some manual bindings for the pickers, not sure if they should be added to the bindings though, as they're probably incomplete and can't be auto-generated. I'll think about it.

In the meantime I'm happy to share them of course, though I can't guarantee that they will work for you.

[code]
Usage example from one of my code bases:
[code]

[2020-04-18 21:32] #79 closed

[2020-04-18 21:39] jsiebern commented on #82
Thanks for the hint, this is taken care of now

[2020-04-18 21:39] #82 closed

[2020-04-19 00:49] jsiebern commented on #88
All lab components are now available [here](https://www.npmjs.com/package/@jsiebern/bs-material-ui-lab).

[code]

These are untested yet, so we might need to iterate a bit, before everything works.

[2020-04-19 00:49] #88 closed

[2020-04-25 18:11] pdonadeo opened #98 "OCaml version mismatch or malformed input"
Following the README I added `@jsiebern/bs-material-ui-ppx` to my project.

Compiling with `yarn start` fails with:

[code]

I essentially tried anything... no clue even where the problem really is.

[2020-04-25 18:13] jsiebern commented on #98
Hi, could you please install specifically version `1.1.0-test.2` and try again? That might already fix your issue.

[2020-04-25 18:15] pdonadeo commented on #98
It works! Thank you @jsiebern!

[2020-04-25 18:15] #98 closed

[2020-04-26 14:47] unodgs commented on #76
I also have the same problem. I use jenkins in docker: `Linux 19ea5e7c64ec 4.15.0 #1 SMP Mon Dec 9 19:36:21 MSK 2019 x86_64 GNU/Linux`

[2020-04-26 19:11] unodgs commented on #76
Hmm it looks like `copyPlatformBinaryInPlace.js` doesn't correctly recognise alpine linux as linux binary `bs_material_ui_ppx-linux-x64.exe` works fine

[2020-04-27 18:07] jsiebern commented on #76
@leeor Which docker image exactly? I just tried it with a few of the node ones and could not reproduce it. Also used other linux alpine distributions, never got the error :-(

@unodgs Also just tried the `jenkins` (and `jenkins:alpine`). Your error I could actually reproduce. I have no idea why, but the copy process for ppx6 seems to be flawed (see the size):
[code]

Just change your ppx-flags str

[2020-04-27 18:10] jsiebern commented on #76
Note: If you choose to try `1.1.0-zero.1`, you need to change the style format from
[code]
to
[code]

[2020-04-27 19:40] leeor commented on #76
Just tested again, using `node:12` for the base image. I don't get the OP error (though I definitely used to a few month ago) but I do get this:
[code]

[2020-04-27 20:38] jsiebern commented on #76
That's the other issue mentioned here, please try this:

[2020-04-28 10:54] studious opened #99 "classes api for inherited components, e.g. Select from Input"
I am trying to style the underline on a Select which comes from the Input component that Select inherits from.

I can see most of the Input API is lifted into Select as a binding but I'm confused how to define `classes=[Underline(classes.myUnderline)]` from the Select API.

Any help would be appreciated.

[2020-04-28 11:47] studious commented on #99
So I think I might have answered my own question. I just make an Input component with classes and pass that as the `input=<Input />` prop to Select. It seems to do what I want

[2020-04-28 11:47] #99 closed

[2020-04-28 11:51] jsiebern commented on #99
That is a solution too of course, nice! I was about to suggest to override the undline style in the theme directly for the `Input` component like so:
[code]

Yours is a lot more elegant of course 👍

[2020-04-28 17:04] leeor commented on #76
@jsiebern, `1.1.0-test.2` works well, thanks.

Is there somewhere a list of the changes in each of those ppx versions?

[2020-04-28 21:29] jsiebern commented on #76
That's great news, I'll mark this as complete for now then as I suspect that @arsdragonfly 's problems are gone now as well.

Unfortunately there is no changelog for the PPX, I should rectify that. Hit me up on Discord if you have any questions (Jonathan#2836). There is a new version in the works that will bring a lot of breaking changes but greatly improves code generation & with it performance.

[2020-04-28 21:29] #76 closed

[2020-05-07 07:30] leeor opened #100 "TypographyStyleOptions"
After updating to `1.3.0` I can no longer customize the font style of different UI variants (e.g., `body1`, `h1`, `h2`). The updated `TypographyStyleOptions` only has the option to specify a `fontFace` as a JSON object, with no helpers. This was the previous `TypographyStyleOptions`:

https://github.com/jsiebern/bs-material-ui/blame/2c9a9a4b7e38be879b911351ace9411bcd2b4bb6/public/bs-material-ui/sr

[2020-05-08 20:05] jsiebern commented on #100
Intentional is always relative with these generated bindings 😉 They must have changed something over at the main repo, that prevents these options from being detected. I'll do some investigating on this.

[2020-05-22 08:06] ralake opened #101 "ppx issue"
I get the following error when including the ppx lib for withStyles...

[code]

relatively new to Reasonml so not sure if this is an issue with my set up, or an issue with versions of something within the modules?

[code]

[2020-05-22 10:36] ralake commented on #101
As my good friend @lozlow spotted, the ppx flags in bsconfig.json should contain `"@jsiebern/bs-material-ui-ppx/ppx6"`, not `"./node_modules/@jsiebern/bs-material-ui-ppx/ppx"`

[2020-05-22 18:42] jsiebern commented on #101
Both should work at this point. Or I have forgotten to push that update on the main npm channel, I'll check.  Does it work then, can this issue be closed?

[2020-05-26 00:40] ansiwen opened #102 "disableShrink prop in CircularProgress component is missing"
The origninal component has a boolean `disableShrink` prop, it doesn't appear in the binding code though:
https://github.com/jsiebern/bs-material-ui/blob/4ceab30b4e63e6ca639c9cc5ad3a9a1adf52a970/public/bs-material-ui/src/MaterialUi_CircularProgress.re#L82-L95

[2020-05-26 07:48] ralake commented on #101
Only `@jsiebern/bs-material-ui-ppx/ppx6` worked for me, and I was checking this last week.

[2020-05-27 12:40] #101 closed

[2020-05-27 13:37] ralake commented on #101
Might want to update the README

[2020-06-15 11:20] kd4001 opened #103 "Textfield Component size props ineffective"
The size prop in `MaterialUi_TextField` Component is ineffective.

[2020-06-25 03:40] studious opened #104 "rowSpan for TableCell please"
Could we please get rowSpan added to the generator custom props for TableCell please?

colSpan has already been added this way.

Thanks

[2020-07-08 19:32] matzero opened #105 "The PPX nightmare continues..."
Of course the examples on this project do not include the configuration files so we are left to guess which combination of npm versions work together.
These are my test results so far:

### On Mac->
package.json file with:

"@jsiebern/bs-material-ui": "1.2.0",
"@jsiebern/bs-material-ui-ppx": "1.0.5"

OR

"@jsiebern/bs-material-ui": "1.3.0-zero.2",
"@jsiebern/bs-material-ui-ppx": "1.1.0-zero.2",

O

[2020-07-08 23:08] matzero commented on #105
Resolution:

After much more testing it seems that the only PPX package that works across ALL platforms with (bsconfig.json):

`"ppx-flags": ["./node_modules/@jsiebern/bs-material-ui-ppx/ppx"],`

It is this version (package.json):

"@jsiebern/bs-material-ui-ppx": "1.1.0-test.2"

Notice there is no ^ on the version number.

This works even in AlpineLinux.

Now for some reason in Ubuntu it also work

[2020-07-09 02:14] jsiebern commented on #105
Sorry about all the confusion, I'll take some time to get an update out soon. I'll deprecate the old API then and will clean up that version mess of the PPX 👍

[2020-07-17 11:13] ansiwen opened #106 "Collapse is missing mountOnEnter / unmountOnExit props"
The Collapse component is missing at least the mountOnEnter / unmountOnExit props, that should be inherited from the Transition component.

[2020-07-17 11:19] a-c-sreedhar-reddy opened #107 "Could not use default theme if provider is not wrapped?"
This example here https://codesandbox.io/s/u1rq6 uses the default provider value since the theme provider component is not wrapped. How can I use the default theme provider?

[2020-07-17 11:57] jsiebern commented on #106
Thanks for reporting, I'll put out an update this weekend probably.

[2020-07-17 16:22] a-c-sreedhar-reddy commented on #107
The example https://material-ui.com/components/drawers/#clipped-under-the-app-bar uses `makeStyles` from
`@material-ui/core/styles`

Where as this bindings use `makeStyles` (https://github.com/jsiebern/bs-material-ui/blame/master/public/bs-material-ui/src/MaterialUi_WithStyles.re#L22)  from
`@material-ui/styles`

Changing it and compiling works fine.

[2020-07-17 16:29] jsiebern commented on #107
Oh that is interesting! I wasn't aware that the style implementation didn't reference the default theme! I'll get that changed in the next update!

[2020-07-17 16:46] a-c-sreedhar-reddy commented on #107
Linking this issue

https://github.com/mui-org/material-ui/issues/15976#issuecomment-498662233

[2020-07-19 09:11] jsiebern commented on #104
Will be included in the upcoming version, thanks for reporting 👍🏻

[2020-07-19 09:11] #104 closed

[2020-07-19 09:11] jsiebern commented on #106
Will be included in the upcoming version, thanks for reporting 👍🏻

[2020-07-19 09:11] #106 closed

[2020-07-19 09:23] jsiebern commented on #103
Sorry, I can't reproduce this. Though I had to apply a variant option for this to take effect. Without that prop it didn't seem to do anything.

The prop gets applied as it should in the JS version, so that's in MUI's hand:
[code]

<img width="1032" alt="Bildschirmfoto 2020-07-19 um 11 19 45" src="https://user-images.githubusercontent.com/6476589/87871608-cb92a080-c9b1-11ea-81a5-72d3c5bb24cf.png">

[2020-07-19 09:27] jsiebern commented on #102
Will be included in the upcoming version, thanks for reporting 👍🏻

[2020-07-19 09:27] #102 closed

[2020-07-19 09:34] jsiebern commented on #29
I'll mark this as closed as there haven't been any new language developments to address this issue.
A solution to this problem would be the following code as an example (not very clean, but that's the only way in reason I know of!):
[code]

[2020-07-19 09:34] #29 closed

[2020-07-19 09:36] jsiebern commented on #35
Sorry to say, but I'll deprecate the version of the bindings this issue is based on in the next version. Therefore I'll close this issue, I hope you have upgraded anyway by now 😅

[2020-07-19 09:36] #35 closed

[2020-07-19 09:39] jsiebern commented on #100
It's still not extracting correctly. This is the JSON I get back for this entry (it depends on a third party typescript parse-tool, so unfortunately there's nothing I can do if it gives up on that particular type node):
[code]

I'm working on my own typescript to reason solution atm to address specifically this problem. Until that's ready this type will probably have to stay this way.

[2020-07-19 09:39] #100 closed

[2020-07-19 09:50] jsiebern commented on #107
Okay, so actually the binding into `core` rather than `styles` is already used, that's why I was confused.
Just the legacy code still holds the old path.  This is true for the `zero` branches in both ppx & bindings.

The following js gets generated:
[code]

As this will be the new main package (and a switch to the new version despite the breaking changes will be highly recommended), I think we can

[2020-07-19 11:53] unodgs commented on #35
Yes, I migrated and now everything is working again :) I think I dug in to the root cause but I wasn't able to fix it anyway. Let's close it.

[2020-07-20 05:13] quarryman opened #108 "Can I force Select onChange event to accept strict type for event value?"
Given I have select with polymorphic `String value
[code]

Can i make sure onChange event value is 'String?
Currently value type I see is "`a"

[2020-07-21 17:36] a-c-sreedhar-reddy opened #109 "TextField missing props."
Missing bindings for onMouseEnter, onMouseLeave = https://codesandbox.io/s/pjyx2wq3mm?file=/src/EditableTextField.js:2451-2497
inputRef props of TextField.

[2020-07-26 07:03] quarryman commented on #108
After a few discussions on Discord my understanding is that `event` passed to `onChange` handler comes from pure JS and has nothing to do with Select `value` type we set in Reason. We cannot be 100% type-safe here.

If one needs to ensure Select value is still limited to a set of predefined values here is basic approach as suggested by @jsiebern

use polymorphic variants:
[code]

possible to use p

[2020-07-26 07:18] #108 closed

[2020-07-28 07:34] a-c-sreedhar-reddy opened #110 "Extra props to modal should be provided to the root component."
https://material-ui.com/api/modal/ In the last section it mentions `Any other props supplied will be provided to the root element (native element).`

eg: providing className prop would apply it to the root element. With the current bindings, it is not possible to provide a className prop.

[2020-07-28 07:57] jsiebern commented on #110
That is a problem I don't want to solve on the bindings level, sorry! There is a way to extend components like this if you absolutely need it:

[code]

It's not ideal but I want the bindings to keep close to the extraction definition, otherwise the maintenance of the bindings becomes too complex.

[2020-07-28 07:57] #110 closed

[2020-07-30 02:37] Schmavery opened #111 "bs-material-ui-lab@1.3.0-zero.3 depends on bs-material-ui@1.3.0-zero.1"
First off, this package is a lifesaver, thanks a bunch for keeping it running.

I recently wanted to use some components from the labs package, and noticed that it resulted in multiple versions of bs-material-ui getting installed and some warnings.

[code]

Everything seems to be working alright so far but it was slightly worry-inducing so I thought I'd point it out in case it was a little mistake

[2020-07-30 02:41] jsiebern commented on #111
Thanks for the praise, it's much appreciated. I'm really glad you find it useful.
It probably is a mistake of some sort, the current packages are a mess unfortunately. I'm working towards cleaning this up and providing some documentation as well, won't be too much longer.

The zero branches will be the main package and I'll have them all running together (incl. ppx) nicely as a priority.

[2020-08-16 03:58] jsiebern commented on #111
This issue should be adressed with the latest package releases 😃

[2020-08-16 03:58] #111 closed

[2020-08-16 03:59] jsiebern commented on #105
This issue should be adressed with the latest package releases 😃

[2020-08-16 03:59] #105 closed

[2020-08-16 03:59] jsiebern commented on #107
This issue should be adressed with the latest package releases 😃 Please let me know if you still run into trouble with this.

[2020-08-16 03:59] #107 closed

[2020-08-18 17:51] searleser97 opened #112 "Binding for CircularProgressWithLabel"
Binding for CircularProgressWithLabel seems to be missing

[https://material-ui.com/components/progress/#circular-with-label](https://material-ui.com/components/progress/#circular-with-label)

[2020-08-19 05:53] jsiebern commented on #112
Looks to me like that is just a demo component. If you look at the source, you'll see that they construct it manually from the normal `CircularProgress`.

Also  not listed here: https://github.com/mui-org/material-ui/tree/next/packages/material-ui/src .
So I'll go with demo :)

[2020-08-19 13:03] searleser97 commented on #112
You are right, thanks

[2020-08-19 13:03] #112 closed

[2020-09-01 12:17] studious opened #113 "How can I annotate the classes record from useStyles hook?"
My project has a few functions that take the classes record as a parameter and since moving to the makeStyles notation and useStyles hook I am getting errors about record field not found.

How can I type this given the record is generated by the ppx?

Thanks

[2020-09-01 12:30] studious commented on #113
I think I might have finally spotted something in your tests that helped.

module MyStyle = [%makeStyles({....})];

`MyStyle.classes` seems to do the trick.

[2020-09-01 12:30] #113 closed

[2020-09-01 16:59] jsiebern commented on #113
Glad you've solved it. Let me know if you need further help with this 😃

[2020-09-09 09:55] FilipKittnar opened #114 "Self-hosted Font in Theme"
Hello,
I absolutely love this library, amazing work. However, I stumbled upon one strange thing. I think that binding for custom self-hosted font in MUI theme is slightly off. It converts itself to wrong JSON. Had to do Obj.magic in order for the font to work:
[code]

Am I doing something wrong?

[2020-09-18 06:24] jsiebern commented on #114
Hi there, thank you for your kind words!
No, you're probably not doing anything wrong, the theme types are far from perfect unfortunately. Translating typescript types is quite sketchy as it is, so an `Obj.magic` here and there might be required.

I'm looking to solve that in another project, but it will be a while until that is actually usable at this kind of scope.

[2020-09-26 20:50] #114 closed

[2020-10-27 15:43] bdunn313 opened #116 "Issue accessing fontSize on typography"
This is likely because of a misunderstanding of how to do this properly, but I was trying to write up a makeStyles and utilize a fontSize off of my generated theme instead of hardcoding a value. The best I could do was use a magic object via a custom `getFontSize` helper:

[code]

Is there a better way to achieve the above?

[2020-10-27 15:46] bdunn313 commented on #116
The above doesn't really appear to work properly, but the question still stands: How do I access theme.typography font size info?

[2020-10-29 13:11] jsiebern commented on #116
@bdunn313 No, you're doing it right. Sorry, the theme type detection is very spotty and not a trivial problem to extract from typescript. I'm still working on that problem, but it'll probably be a while still. You're approach is the right one for the time being.

[2020-11-03 08:27] #116 closed

[2020-11-12 23:43] keuhdall opened #117 "`Any`type does not seem to work with variants"
Hello,

I've been trying to create a little form using the components `FormControl`, `RadioGroup` and `FormControlLabel`, however I came across a what seem to be a little bug.

In my code, I created the following types:
[code]
This initial state:
[code]
And this RadioGroup:
[code]

When doing this, the radio button is toggled on "Yes" just as expected, but it disappears as soon as I click on one o

[2020-11-17 16:21] LukasDeco opened #118 "Snackbar anchorOrigin not working as expected. Snackbar.Horizontal.center throws compiler error"
Hello and thanks for the great bindings library!

I've noticed that the Snackbar.Horizontal.center value has been throwing an error about being an unbound type constructor. I've looked at the source code and it is definitely there. So not sure what is going on.

Here are my versions:
"@jsiebern/bs-material-ui": "2.0.2",
    "@jsiebern/bs-material-ui-lab": "2.0.3",
"bs-platform": "^8.3.1",

Here is

[2020-11-18 19:30] LukasDeco commented on #118
All of a sudden it is working... not sure what changed. Looking at the code here it is exactly the same. Oh well!

[2020-11-18 19:30] #118 closed

[2020-11-18 20:39] jsiebern commented on #118
@LukasDeco That is quite curious. Was that error coming from JS? If it happens again, can you check out the JS output of the `MaterialUi_Snackbar.re` file and post it here? Thanks

[2021-02-07 18:13] ken-miyashita opened #119 "Can we support PPX on x86 Mac?"
Hi. I'm a newbie in ReScript + react, and just started investigating your interesting material-ui binding.
Can you make a binary of PPX for Mac?
- platform = darwin
- arch = x64

[2021-02-08 11:45] jsiebern commented on #119
Hi. The distributed NPM package should contain the binary you're asking for  (and should automatically copy it into place on install). You can use it by just following the instructions from this page: https://jsiebern.github.io/bs-material-ui/docs/styles-ppx/installation

[2021-02-15 14:42] montogeek opened #120 "Rescript incompatibility"
Hi!

I just installed these bindings in a Rescript project, unfortunately I am getting the following error:

[code]

My code:
[code]

package.json
[code]

bsconfig.json
[code]

It is there anything I can do to make it work? Thanks!

[2021-02-15 14:48] jsiebern commented on #120
One of the minor breaking changes [here](https://github.com/rescript-lang/rescript-react/blob/HEAD/Changes.md) must be affecting the package. I'll get on that this weekend, thank you for bringing it up. In the meantime, please just use `reason-react@0.9` instead of `@rescript/react`. You should not feel any difference working with the "older" version at the moment I think.

[2021-02-15 14:53] montogeek commented on #120
Thanks, got it working by doing:
1. Installing `npm i -S -E reason-react@0.9`
2. Update bs-dependency from `@rescript/react` to `reason-react`.

[2021-02-15 14:55] jsiebern commented on #120
That's great. Just don't foget to eventually switch it back when I find the time to fix it with the bindings, the `@rescript/react` package is surely the one to move forward with :-)

[2021-03-26 06:58] #120 closed

[2021-03-26 07:33] montogeek commented on #120
@jsiebern Thank you!

[2021-03-26 18:50] dodomorandi opened #122 "Runtime issues with the example"
After the migration to `rescript-react` has been merged, @jsiebern [noticed a problem with the example](https://github.com/jsiebern/bs-material-ui/pull/121#issuecomment-808013365).

I am opening an issue mainly to discuss what is happening, what could be involved and, in case, how this could be fixed.

---

Using the debugger, it is possible to see that module `@material-ui/styles/esm/useTheme/use

[2021-04-22 09:48] mattiasw2 opened #123 "Sample not compiling: error Couldn't find any versions for "@jsiebern/bs-material-ui" that matches "^2.1.0""
[code]

[2021-04-29 23:32] joshgodsiff opened #124 "Publish a new version?"
Any chance an up-to-date version of this could be pushed up to NPM? The dependency on `bs-platform@"^8.2.0` in the currently published version means those of us on `9.0.2` can't easily use this at the moment, whereas that seems to be fixed in the current git repo code.

[2021-05-11 22:01] wildlifehexagon commented on #124
Also wondering about this. Is there a workaround in the meantime? I'm looking to use these Material UI bindings in a new ReScript project.

[2021-05-22 22:45] amiralies opened #127 "Usage with bs-css"
Is it possible to use mui with bs-css? I tried to use bs-css's style function output as className for components but it seems this doesn't work well. it seems they are applied before materual ui classes so they got overriden by material ui classes

[2021-05-23 06:10] cknitt commented on #124
Yes, this should happen within the next 1-2 weeks. See also https://github.com/cca-io/rescript-material-ui#roadmap.

In the meantime, you can keep using the previous version (if you hold off migrating from reason-react to @rescript/react).

[2021-05-26 09:47] fhammerschmidt commented on #127
Yes. You need to use the `StylesProvider`, which there is no binding for yet, unfortunately.

Example:

[code]
Watch the button text become uppercase when you change the `injectFirst` property to false.

I made an [example project](https://github.com/fhammerschmidt/rescript-material-ui-bs-css/) which includes the [binding](https://github.com/fhammerschmidt/rescript-material-ui-bs-css/blob/main/src

[2021-05-26 10:09] #119 closed

[2021-05-26 10:10] #103 closed

[2021-05-26 10:21] amiralies commented on #127
Thank you!
I think bs-css-dom should also work right?

[2021-05-26 12:44] fhammerschmidt commented on #127
I only used it with emotion myself. But the problem is just that JSS styles get applied after user styles as you said, so this solution probably works for all of them.

[2021-05-29 08:34] cknitt commented on #127
StyleProvider is now included in version 2.1.0.

[2021-05-29 08:34] #127 closed

[2021-05-29 08:35] cknitt commented on #124
Just published version 2.1.0.

[2021-05-29 08:35] #124 closed

[2021-05-29 08:35] cknitt commented on #123
This is fixed with version 2.1.0.

[2021-05-29 08:35] #123 closed

[2021-05-29 08:36] cknitt commented on #122
Just built version 2.1.0 together with @jsiebern, and we did not encounter any problem with the examples.

[2021-05-29 12:41] dodomorandi commented on #122
Fantastic!!! I just finished checking, and I did not encounter the issue anymore as well. Probably you fixed the issue during the refactory you made since I opened the issue.

Thank you for your awesome work!

[2021-05-29 12:41] #122 closed

[2021-06-08 15:29] FilipKittnar opened #141 "Problem with GLIBC version since version 2.1.0"
When I update the `@jsiebern/bs-material-ui-ppx` to a version higher than 2.0.1 (or to the `rescript-material-ui-ppx`) and try to build my project in a docker container running on the latest official "node" image, I get this error: `version GLIBC_2.29 not found (required by` ... which is caused by the ppx library.

[2021-06-08 18:02] cknitt commented on #141
Thanks for the report! This is the same problem as in https://github.com/rescript-lang/rescript-vscode/issues/216.

We will change the CI build to use `ubuntu-18.04` instead of `ubuntu-latest` to fix this.

[2021-06-08 19:20] #141 closed

[2021-07-27 11:24] cknitt opened #153 "Update documentation"
- [x] Remove ReScript vs. ReasonML section
- [x] Naming section: do not advertise `MaterialUi_[COMPONENT_NAME]` anymore, we should be moving to `MaterialUi.[COMPONENT_NAME]`.
- [x] Union Values section incorrect (identifiers in the bindings are now 1:1 with JS)
- [x] Styles documentation: describe different solutions for styling (including bs-css and Tailwind) and state that the PPX is not recomme

[2021-07-27 11:27] cknitt opened #154 "Use namespace 'MaterialUi' / 'MaterialUiLab'"
Get rid of the `MaterialUi_` prefix in the filenames.

[2021-07-27 11:32] cknitt opened #155 "Zero cost"
Make sure the bindings are zero cost as far as possible.

(Mostly they already are now, but there are some special cases remaining with mixed enums as far as I recall.)

[2021-07-27 11:34] cknitt opened #156 "Review/extend examples"

[2021-08-10 03:42] bdunn313 opened #157 "docs: Examples folder link 404s"
Currently, the existing link to the examples folder on Github 404s:
https://github.com/cca-io/rescript-material-ui/tree/master/public/rescript-material-ui/examples

This link works correctly:
https://github.com/cca-io/rescript-material-ui/tree/master/examples

[2021-08-11 06:02] #157 closed

[2021-09-23 14:38] nbush89 opened #159 "Button component missing props"
Button component is missing the target and rel props:
~target: string=?,
~rel: string=?,

[2021-09-23 16:33] nbush89 opened #160 "Prop missing from TableRow"
onClick property is missing from TableRow.res
~onClick: ReactEvent.Mouse.t => unit=?,

[2021-09-28 12:04] Deydim opened #161 "Possibly wrong types for ThemeOptions.AppBarClassKey make arguments"
Hello,
I am new to MUI and ReScript but I have been trying your bindings for an example project and absolutely love what you are doing!

Just so you know, these might need type `ReactDOM.style.t`. Maybe it's my fault but I only managed to make them work using `Obj.magic` on a `ReactDOMStyle.make` function.
https://github.com/cca-io/rescript-material-ui/blob/2d76be046a25060ee817f67bea54a9d2448276ed

[2021-10-28 20:55] huntwj opened #165 "Update package dependencies to allow for rescript instead of bs-platform"
Current installations are still looking for bs-platform@^9.0.2. Things still work, but the warning is not ideal.

[2021-11-08 08:10] FilipKittnar commented on #141
Hello,
is there any plan for when is this fix going to be released? The last version is still 2.1.2 from May.

[2021-11-08 12:44] fhammerschmidt commented on #141
Sorry, we are currently very busy. There are some open issues which prevent us from doing the next release. We try to fix them as soon as possible.

I cannot give you any promises, but we are aiming for somewhere in November.

[2021-11-18 17:47] fhammerschmidt commented on #117
Variants get compiled to numbers when they have no payload. This may result in unintended consequences.
But you can implement your example easily with the help of polymorphic variants which get compiled to strings.

Just change the answer type to
[code]

and update the rest of the code accordingly.

Sorry for the late answer, but I wasn't even maintaining this project back then. Maybe it will help

[2021-11-18 17:47] #117 closed

[2021-11-19 11:58] jsiebern commented on #161
Hi, even though I'm not the primary maintainer anymore I should be able to answer this for you. Your use of `Obj.magic` is the correct approach here. This is not ideal but the theme definitions of Mui are immenseley complex and the TS type system unfortunately has no option of comprehensively exposing a tree of types. So the generation of the theme bindings are and probably always will be a best e

[2021-11-19 11:58] #161 closed

[2021-11-19 14:55] #154 closed

[2021-11-19 14:58] cknitt commented on #165
This is already done and will be part of the upcoming release.

[2021-11-19 14:58] #165 closed

[2021-11-19 17:11] Deydim commented on #161
Glitches of this sort are totally OK and easy to slove. I just wanted to contribute with a bug report but now I see it's a well known thing. Thanks for the explanation!

[2021-11-24 15:06] fhammerschmidt commented on #155
I think we can close this? More zero-cost than now probably requires some changes in the rescript compiler.

[2021-11-24 15:21] cknitt commented on #155
Agreed, I think for now we have done what we could.

[2021-11-24 15:21] #155 closed

[2021-11-24 15:27] #109 closed

[2021-11-24 15:27] #159 closed

[2021-11-24 15:27] #160 closed

[2021-11-29 23:33] nkrkv opened #172 "String literals in example JSX"
Hello, I’m working on https://github.com/nkrkv/tree-sitter-rescript/. I want to use this repo for acceptance testing because it is big and significant. Once it is added to the test suite, I see quite a lot of errors related to the usage of string literals inside JSX. For example:

https://github.com/cca-io/rescript-material-ui/blob/master/examples/src/examples/Examples.res#L7

[code]

I was intrig

[2021-11-30 11:21] fhammerschmidt commented on #172
This works because the children type is more relaxed in this bindings - it's just a generic type `'children`.
The React bindings use their own abstract type `element`.

We use the same type for every children parameter because it's all generated. But maybe @jsiebern can explain if and why it was necessary, or if we can switch to `React.element` instead.

[2021-11-30 11:24] jsiebern commented on #172
I believe it was due to the old react bindings and a problem with children being forced to be an array of elements (which the react ppx ensured automatically). Today there should be no forced reason to keep the children generic.

[2021-11-30 11:57] fhammerschmidt commented on #172
Good, will change it to `React.element` for the 3.0.0 release (which will break some things anyway).

[2021-11-30 12:35] fhammerschmidt commented on #172
Thanks for raising this issue, very good point.

[2021-11-30 12:55] cknitt opened #174 "Namespace: MaterialUi -> Mui"
IMHO we should change the namespace from `MaterialUi` to `Mui` in 3.0.0 for the following reasons:

1. Nice and short 🙂
2. Material-UI [rebranded to MUI](https://mui.com/blog/material-ui-is-now-mui/)
3. Now that we are using the `namespace` feature in bsconfig.json, it is not possible anymore for the user to "alias" the `MaterialUi` module to `Mui` himself using `include MaterialUi`.
4. 3.0.0 alre

[2021-11-30 13:52] #172 closed

[2021-11-30 14:20] fhammerschmidt commented on #174
Done, but leaving it open so that we do not forget to mention it in the docs.

[2021-11-30 15:06] fhammerschmidt opened #176 "Preparation for v3.0.0"
What's missing for the release of v3.0.0?

- [x] Test rc.1 in some of our projects
- [x] Migration Guide
- [x] Update the PPX package as well
- [x] Check all docs one last time for errors, inconsistencies, etc.
- [x] Update changelog

Nice to have, but not required: the remaining open issues.

[2021-12-01 15:04] fhammerschmidt commented on #174
Closing this, I put it already into the Draft PR (#177).

[2021-12-01 15:04] #174 closed

[2021-12-03 16:22] #176 closed

[2021-12-06 17:32] fhammerschmidt commented on #153
Last one done with huge 3.0.0 PR (#177)

[2021-12-06 17:32] #153 closed

[2021-12-09 10:55] FilipKittnar opened #179 "Grid.spacing not working"
Hello, I think there is a serious bug in version 3 with Grid component and the prop "spacing".
It is defined like this:
[code]

But if you use for example `spacing=#2`, it is transpiled to this:
[code]

So the spacing doesn't work at all.

[2021-12-09 11:52] FilipKittnar commented on #179
Hello,
so the solution seems to be simply:
[code]

[2021-12-09 13:58] fhammerschmidt commented on #179
Thank you for reporting this. Indeed this was one missed simplification in the binding generator, I fixed it now and will release a version 3.0.2 today.

[2021-12-09 13:58] #179 closed

[2021-12-15 15:29] FilipKittnar opened #181 "ScopedCssBaseline doesn't work"
Hello,
When trying to use the ScopedCssBaseline module, I get runtime error:

[2021-12-15 15:33] FilipKittnar commented on #181
This seemed to help:

[code]

[2021-12-15 16:34] fhammerschmidt commented on #181
The problem here is, that it is not re-exported in [this file](https://github.com/mui-org/material-ui/blob/v4.12.3/packages/material-ui/src/index.js).

They only fixed that in v5, unfortunately: https://github.com/mui-org/material-ui/pull/21869/files

[2021-12-23 11:00] cknitt commented on #181
Maybe we can patch the MUI sources before the code generation step?

[2022-02-07 17:31] huntwj opened #182 "Timeline for MUI v5"
Hey folks,

Do we have a timeline for if/when we will support Mui v5?

Thanks for all your work!

[2022-02-10 12:32] cknitt commented on #182
Hi,

Not yet, unfortunately, as we are currently extremely busy with client projects. But we are planning to look into it in the next months.

[2022-09-24 21:42] mjal opened #184 "ListItem is missing secondaryAction"

[2022-09-24 22:08] mjal commented on #184
I was looking at version 5

[2022-09-24 22:08] #184 closed

[2022-10-18 01:37] evilpeach commented on #182
Hi,

Could you update the timeline for supporting Mui v5?

Thanks

[2022-10-18 09:20] fhammerschmidt commented on #182
We still have all our projects on v4, so there was no incentive to tackle this. v5 is unfortunately a huge undertaking and will take some time. That said, I will try to at least push my working branch soon, I "only" have to untangle the mess that is the new folder structure of MUI from which we generate all the things.

I don't want to promise anything, but the aim is to at least have an Alpha-Rel